[2019-02-20 20:06] MARCFOUR commented on #6573
A little clarification here for NEW Users might be in order.  Windows user.

By default JMRI does not open the 'Set Active Profile'  Selector menu. It opens the last-used profile which would be the System default profile it created (My_JMRI_Railroad).  The User must go into Preferences and Select the proper option in 'Config Profiles' to have the 'Show Profile Selector for' displayed for the secon

[2019-02-20 20:09] rhwood commented on #6467
Its also entirely possible that changes to the standard JSlider in 1.7 (its drawing method was rewritten) make the customizations in SliderSnap unneeded (it appears to be so from modifying the Java Tutorials SliderDemo to snap to ticks).

[2019-02-20 20:41] rm5248 commented on #6579
I'm using Debian's build of OpenJDK: 8u181-b13-2~deb9u1.  I have not tried with the Oracle JDK at all, but that is something that I can test as well if needed.

java version output:
openjdk version "1.8.0_181"
OpenJDK Runtime Environment (build 1.8.0_181-8u181-b13-2~deb9u1-b13)
OpenJDK 64-Bit Server VM (build 25.181-b13, mixed mode)

[2019-02-20 20:52] KenC57 commented on #6573
A couple of corrections to Marc's notes:

1. If there is only one profile, the default is to not show the profile
selector. This is true for either PanelPro or DecoderPro.

2. If there is more than one profile, the default is to show the profile
selector. This is true for either PanelPro or DecoderPro.

3. A reboot is not required for a newly created profile, a restart is
required.

-ken c

[2019-02-20 22:22] silverailscolo commented on #6469
First development version is in PR #6585. Could you give it a try @Hansschaap2 ?

[2019-02-21 00:55] MARCFOUR commented on #6573
Ken, with all due respect, I do not make these up as I go along, I test them.

1 . If there is only one profile, the default is to not show the profile selector. PanelPro, with only one profile, WILL show the Set Active Profile selector.  I tested it before writing it.

2. If there is more than one profile, the default is to show the profile selector.. IF THE OPTION HAS BEEN SELECTED to display th

[2019-02-21 02:18] devel-bobm commented on #6582
I have seen a possibly-related problem: If I have a functioning profile, and try to change its "system connection" setting (say, from "LocoBuffer-USB" to "PR3"), JMRI locks up as soon as I select the new "system connection" setting.

Here's the last two lines in the log:

[code]

I have not been able to find any hints by looking at the Netbeans debugger thread trace when the problem occurs.  (I am

[2019-02-21 02:46] dheap commented on #6529
There's no concept of releasing locos with an NCE system.

If the loco has speed commands of zero for certain (settable) speed packet count, the loco is removed from the Track Queue and no further speed/direction or Function Refresh (if enabled) packets are sent.

The loco entry may remain in one or more Cab Context Pages in command station memory, but these are ignored unless updated by the user

[2019-02-21 02:48] devel-bobm commented on #6582
Further info - the problem remains if I comment-out the `xmtThread` portion of `LnPacketizer.dispose()`.

The problem disappears if I comment-out the `rcvThread` portion of `LnPacketizer.dispose()`.

The problem disappears if I only comment-out the code:
[code]

[2019-02-21 02:49] atanisoft commented on #6529
Perhaps in the case of DCC++ it can be an optionally enabled feature in JMRI to send these "refresh" packets, in addition to user adjustment of frequency

[2019-02-21 03:06] MARCFOUR commented on #6573
PanelPro has the 10 second counter and "Set Active Profile" selector by default. DecoderPro does not and
requires the user go in and change the Config Profiles option away from "Automaticaly start application with last used profile " and over to "Show Profile selector" or he will not see the "Set Active Profile" selector

[2019-02-21 03:20] MARCFOUR opened #6586 "Why the subtle differences between DecoderPro and PanelPro"
Items like Recreate Decoder Index.  In DecoderPro it is found under ACTIONS. In PanelPro it is found under DEBUG.

Recreate Roster Index:  In DecoderPro it is in both FILE as Rebuild Roster and under ACTIONS as Recreate Roster Index. I believe these are one and the same.  In PanelPro  it is under DEBUG : Rebuild Roster and with nothing regarding this under FILE.

Those assisting others can assume

[2019-02-21 03:54] KenC57 commented on #6573
I just tested with 4.15.3 and both begin with 'last profile selected'. I did
this by removing the JMRI directory (ok, saved mine by rename). So it was
starting fresh. DecoderPro gives the Startup Wizard, but not PanelPro.
PanelPro keeps the 'last selected', it did not change because it saw more
profiles.

Yet once there was the second profile created (via the PanelPro startup),
then I went and use

[2019-02-21 04:26] MikeHeintzman commented on #6573
Unless there’s a technical reason for the difference, might it not be better for common functions like this to operate consistently across the platform? I’m guessing it would make tweaking the Manuals easier.

Sent from my iPad

[2019-02-21 09:18] dheap commented on #6323
@rhwood Testing completed, see https://github.com/JMRI/JMRI/pull/6311#issuecomment-465922606

[2019-02-21 15:15] bobjacobsen commented on #6582
I've got a bypass for the problem that's being seen (unable to delete).

Unfortunately, that fix doesn't really fix the underlying issue as it leaves the port still in use.    That in turn doesn't allow you to delete and recreate a connection without having to restart in between.

Fixing that in a reliable way is going to be much harder. I'm not sure it even makes sense to try, as we'll probably j

[2019-02-21 15:20] bobjacobsen commented on #6579
Thanks for the info.  I see where the problem is coming from. So far, the only way I have found to fix it will delay startup, in some cases (like people with slow railroad computers) significantly.  So I'd like spend some time coming up with a better fix.

Issue #3678, which doesn't come from the same cause, recommends trying the Java 9 JDK.  (You could also try Java 11 by now)

[2019-02-21 15:44] pabender commented on #6529
Looking at the code, I see a couple of issues surrounding the referesh, which can be found in the file:

https://github.com/JMRI/JMRI/blob/master/java/src/jmri/jmrix/dccpp/serial/SerialDCCppPacketizer.java

Here are some suggestions based on what i see:

1. The refresh is handled by a refresh thread, but the thread is never stopped.  It might be better to turn this into a timer.
2. It appears the

[2019-02-21 15:56] danielb987 commented on #6582
One possibility is that then a user clicks "Delete", the program shows a dialog that tells the user that in order to delete, the program must be restarted. And that that dialog box has the buttons "Cancel" and "Delete connection and restart PanelPro".

[2019-02-21 16:26] MARCFOUR commented on #6573
Ken, I was also running 4.15.3  but under Win10.  There has to be some explanation for the difference in end results.  I also deleted the User\JMRI folder (renamed to JMRI_backup)  so I started from a blank slate.

DecoderPro would load the default profile. PanelPro would show the Profile selector.

Preferences, Config Profiles  of DP shows Auto Start as active (selected). PanelPro: Preferences, C

[2019-02-21 16:41] icklesteve commented on #6582
See #6303
Whenever a connection is changed, it goes unstable and isn't immediately obvious to the user.
Even if user clicks Cancel, connection is changed.
Would support in this area, ie working dialogue / forced restart.

[2019-02-21 16:49] KenC57 commented on #6573
I think one difference is the startup wizard only works from DecoderPro. So
that gives a considerable different path when it starts with a blank profile
and the wizard gets triggered. Part of me thinks the wizard would be a help
for the PanelPro users too.
-ken c

[2019-02-21 16:52] KenC57 commented on #6582
Only issue I see in forcing the restart is making sure the user has the
option to save anything else they were doing, like the panel file. Since we
seem to be wary of trying to track changes, maybe prompting them to consider
doing the save before fiddling in the preferences since that could result in
a restart.

[2019-02-21 16:56] MikeHeintzman commented on #6573
I don’t mind plugging away at it, but I think that someone(s) with more technical expertise than me needs to determine if a) this differentiation is the way it’s supposed to be; b) that’s the way to leave it; or c) should it be changed to be one way or the other in a future revision.
My background, among other things, is writing user manuals for technically challenging software. I can try to write

[2019-02-21 17:04] costing commented on #6529
Hi @pabender

1. In practical terms this would only save a thread if you already have a shared executor service somewhere. I'm not familiar with the core to tell where it would be appropriate to attach it. If a new executor is needed then nothing is saved. I don't have a strong opinion on this, either of the approaches is ok for me.

2. Well, yes, and it's a feature :) For example, after a short a

[2019-02-21 17:12] atanisoft commented on #6529
I wouldn't count on the Arduino DCC++ code to be updated anytime soon. The project appears to not have an active maintainer at this time.

On the ESP32 (which supports the DCC++ protocol) it is already implemented and available today to not require JMRI to send the update packets.

[2019-02-21 17:34] bobjacobsen commented on #6529
One approach is to use `ThreadingUtil.runOnLayoutDelayed(ThreadingUtil.ThreadAction ta, int delay)` (see [the Javadoc here](http://jmri.org/JavaDoc/doc/jmri/util/ThreadingUtil.html#runOnLayoutDelayed-jmri.util.ThreadingUtil.ThreadAction-int-)) and have the task reschedule itself until it's time to stop.

Or you can write a repeating [`java.util.Timer`](https://docs.oracle.com/javase/8/docs/api/jav

[2019-02-21 17:35] nigelcliffe commented on #5836
PING.   I think this has been dropped somehow,  its a decoder file update which hasn't moved in several months.

[2019-02-21 17:52] costing commented on #6529
@atanisoft Do you know if it is planned to port it to the Arduino version too?

@bobjacobsen Great, thanks, will look into it.

[2019-02-21 17:56] atanisoft commented on #6529
@costing as mentioned above, don't count on it. I'm not a maintainer for the DccPlusPlus project and can only maintain my esp32 CS. The Arduino DCC++ has limitations built into it's DCC signal generation as well as locomotive state (it doesn't track functions at all, they are single shot commands sent in a fire and forget manner).

On the esp32 there is a lot more flexibility and memory available

[2019-02-21 21:22] costing commented on #6529
@atanisoft I was afraid this was the case... I'll try to find the esp32 board in my project boxes, your project sounds really cool. Then I would also have a testing platform for the JMRI side of it.

[2019-02-21 21:48] bobjacobsen commented on #5836
See PR #6588

[2019-02-21 22:34] bobjacobsen commented on #6394
There's probably a bug here where some preference either isn't marked as not-dirty when saved. Was the _only_ thing you changed the command station?  Which connection type and subtype(s)?

[2019-02-21 23:03] atanisoft commented on #6529
Feel free to ping me offline and we can discuss the CS etc. I'm actively working on integration LCC into it and would like to also explore LCC support in JMRI (beyond node list)

[2019-02-22 02:33] danielb987 commented on #6394
Yes. The only change I do is that I change the `Command station type`.

I have also found another bug. If I change the command station, click "Save" and then "Later", and then click "Quit" to exit PanelPro, and then click "Cancel", PanelPro still quits. Either the quit process should be aborted when I click "Cancel", or the "Cancel" button should be removed.

[2019-02-22 02:42] bobjacobsen commented on #6394
Which connection type?

[2019-02-22 03:48] danielb987 commented on #6394
LocoNet LocoBuffer-USB

[2019-02-22 14:57] bobjacobsen commented on #5836
Merged in #6588.  Sorry for the delay.

[2019-02-22 14:57] #5836 closed

[2019-02-24 00:11] bobjacobsen commented on #6582
It seems likely that requests are just going to get piled onto this, so I'm going to back off from working on it.

[2019-02-24 19:59] MikeHeintzman commented on #6573
I made some changes incorporating all of the comments. I tried to add a section on the differences in the default startups. Please take a look and see if it says what it's supposed to say. Thanks.
[JMRI Multi Profile Setup 2.docx](https://github.com/JMRI/JMRI/files/2898330/JMRI.Multi.Profile.Setup.2.docx)

[2019-02-24 23:43] svatoun opened #6595 "Input dialogs do not validate input"
I've run into the issue when working with `bumper length` in Layout Editor (right click on track -> `Decorations` -> `End Bumpers` -> `Length: xx`)

The created dialog allowed me to enter non-numeric input (I made a typo) and OK dismissed it without any error mesage. Only when since there was no change in the displayed object, I've realized that I may have made a typo.

There should be ideally a v

[2019-02-25 02:53] KenC57 opened #6597 "Error message misleading: ERROR - ttyUSB0 port is in use: errno() == 13 [main];"
Errno 13 is a permission issue and the problem corrected once the port permissions were corrected. The 'port is in use' is misleading. This is what comes up on a RasPi and the user isn't part of dialout. Adding the user id to the group cures the permission issue.

[2019-02-25 05:51] MARCFOUR commented on #6573
downloaded and browsed.. After three or more system crashes of this aging computer, I gave up.  There were a few niggly bits I found .  There are a few more items that end up in a PROFILE  apart user files, throttle and roster. Things like Panels, backup Panels, any Tables, Imported  decoder definitions,  Decoder Index rebuilds.  I don't know if you want to mention these.

Also the bit about .JMRI

[2019-02-25 06:02] brookerg opened #6598 "Accessory decoder addressing for lights"
Hi,
I am using JMRI 4.14 with DCC++.
Using Geoff B's decoders as accessory decoders I have setup:--
- A decoder for 7 turnouts using the DCC++ base station configuration starting at accessory address 1.
- A decoder with accessory address of 40 for lights and setup JMRI  Tools/Table/lights.
The issue I found was when I used 40 as the start address for the lights, the JMRI traffic monitor showed the

[2019-02-25 07:51] dheap commented on #6598
Graeme,

Basic Accessory (Turnout) Decoders are defined to start at 1, have a 9 bit decoder address starting at 1 and a two bit channel address (range 0-3). As a result Turnout 1 has a decoder address of 1 and a a channel address of 0, while Turnout 40 has a decoder address of 10 and a a channel address of 3.

Extended Accessory (Signal) Decoders are defined to start at 1, and have an 11 bit decod

[2019-02-25 09:19] brookerg commented on #6598
Dave,
Thanks for your reply.
I don't have another DCC system or, in fact, even a model railroad setup. This is all being done for a busy son and young grandson and their setup.

Decoder #1 for points / turnouts has CV1 and CV9 written with  1 and 0 respectively and Arduino DCC++ has the eeprom address starting at 1 0. JMRI then sends 'T' commands. All good.

Decoder #2 for lights has "Accdec...17.

[2019-02-25 11:52] svatoun commented on #6579
The stacktrace shows that `init prefs` thread illegally accessess the UI, while only EDT thread may manipulate with the UI hierarchy.  No matter which JDK is used, the code which performs UI operations from non-UI thread is broken and will deadlock or eventually corrupt data, since most of the lightweight components are not thread-safe in any way.

[2019-02-25 15:35] bobjacobsen commented on #6579
It's a bit more subtle than that.  You'll notice that both the main and init prefs threads are working to construct the TabbedPreferences window.

It is generally OK to _construct_ a Swing/AWT Component off the Swing/AWT thread. It's only once it's first been accessed by Swing/AWT, usually but not always when first set visible, that it can no longer be safely accessed off the Swing/AWT thread.

Th

[2019-02-25 20:52] Cliff-Anderson commented on #2599
Not certain that this is related to Ken's issue, but there is a potential overlap.

Do not change the userName of a Block once it has been saved!

The immediate results seem OK, but if the panel is saved and reopened, a new Block with the previous userName is automatically created.  The original systemName Block has the new userName, but any internal cross-connections are broken.

A simple Panel h

[2019-02-25 21:07] dheap commented on #6598
I've set up a DCC++ Simulator connection.

Throwing Turnout 40 shows this in the DCC++ Traffic Monitor window:
[code]
This seems inconsistent with what I would expect, I would have expected:
[code]
Same results with Light 40.

If i try a DCC Signal Decoder Signal Head with address 40 (and Offset Address), then attempt to change aspect, the System Console shows multiple NPEs.

I have a DCC Packet A

[2019-02-25 21:22] MikeHeintzman commented on #6573
I incorporated your suggestions, other than the additional Default variation. I'm not sure I can add it without making it even more confusing. Until somebody takes a crack at the code to make how Profiles are handled between the apps that may just have to go under an unexpected 'Feature',
My old desktop computer died a few weeks ago necessitating taking my hard saved train money to buy a new one a

[2019-02-25 21:26] MikeHeintzman commented on #6573
I hit the wrong button. How do I Unclose this thing?

[2019-02-25 21:50] dheap commented on #6598
I think Graeme is onto something there. It seems to me that the calculation iv `DCCppMessage.makeAccessoryDecoderMsg(address, activate)` is the culprit.

[2019-02-25 23:28] brookerg commented on #6598
Having a spare Arduino, I setup a backup clean DCC++ system. No Arduino eeprom records, no other JMRI entries exceot for 4 JMRI tabke/light entries with address beginning at 40. JMRI still sends "a 9 3 1"
(I thought it might have been due to the main system having previous, now deleted, entries and imperfect table indexing )
Graeme

[2019-02-25 23:46] danielb987 opened #6600 "Add check that every JUnit test class is run during tests"
I have several times been bitten by forgotten to add my new test to PackageTest.java, or forgotten to add mypackage.PackageTest to the parent PackageTest.java.

This raises the question whenether there may be more tests written that is not run during tests. Maybe it could be a good idea to add a test that checks that every test class is actual included in their PackageTest, and that every PackageT

[2019-02-25 23:56] dheap commented on #6598
@brookerg I've just emailed you offline, with information about a private test build of JMRI I'd like you to try. We'll bring it back to this forum when we see the results of that.

Dave

[2019-02-26 00:44] rhwood commented on #6600
I think the CI servers actually exclude the PackageTest classes and don’t use them, so it might be better to make the ant test targets run every test instead of relying on PackageTests to organize them.

[2019-02-26 01:19] danielb987 commented on #6600
If I forget to add a test class to PackageTest, it's not used for the coverage test. That's how I found this problem. I created a new class and a test for that class, but still had "coverage" of 0 for that class.

But I agree that it would be good if all test classes are used without the need of PackageTest.

[2019-02-26 01:46] pabender commented on #6600
Travis currently ignores the PackageTest classes.  Appveyor uses them because it still uses ant.

If you want to check to verify you have all the tests in the file, you can run the alltestcoveragecheck target ( I may have the target name wrong, I am doing this from memory.. )

[2019-02-26 01:50] pabender commented on #6600
We will not be using Maven on Appveyor any time soon.  Ant is our official build tool, and there is still an annoying issue that crops up every once in a while where the NCE tests fail inexplicably and every time that crops up I think about moving Travis back to ant.

[2019-02-26 02:12] pabender commented on #6600
The actual ant target you want to use is “alltest-coveragecheck”.

[2019-02-26 03:34] pabender commented on #6600
reading @rhwood's suggestion again, I see the request is to make ant behave more like maven.  In the past that wasn't possible, but perhaps that has now changed.  I will investigate.

[2019-02-26 09:03] dheap commented on #6598
#6601 addresses this. I don't have access to DCC++ hardware so would appreciate real-hardware testing. @brookerg has done some testing.

[2019-02-26 13:59] pabender commented on #6600
So it looks like the ant JUnit plugin can now be used to start tests based on a pattern.

There is an impact on how test results are saved, which might impact the configuration of some of the reports on jmri.tagadab.com.

[2019-02-26 14:58] bobjacobsen commented on #6600
I’m happy to handle that aspect if needed.

As to whether to make this change, I don’ t have an a-priori opinion.  If we can _entirely_ get away from PackageList files, so that we can entirely remove them, while still supporting how people currently work, then moving in this direction is probably a good thing.

One case to consider: I use Ant to build and ./runtest.csh to test _a_ _lot_.   I often

[2019-02-26 15:25] pabender commented on #6600
This is also a concern for me, because my normal mode of operation is to run the package tests for the package I am currently working on (and sometimes the parent of the package I am working on) before issuing a PR and letting the CI engines tell me if i broke something outside of the package I am working on.

[2019-02-26 15:29] pabender commented on #6600
Possibly.  The mechanism allows you to specify the path to the source, we might be able to parameterize that path....

[2019-02-26 15:43] rhwood commented on #6600
I know ant is preferred, but maven allows patterns on the command line (for example `mvn '-Dtest=jmri.foo.**.*Test' test` runs all tests in the jmri.foo package and sub-packages; `mvn '-Dtest=jmri.foo.*Test' test` runs all tests in the jmri.foo package _without_ sub-packages; `mvn '-Dtest=jmri.foo.FooTest#testBar' test` runs the testBar method of FooTest)

[2019-02-26 17:08] bobjacobsen commented on #6600
Happy to look at Maven for local use, but am having trouble with
[code]
which (after `ant realclean` to get a consistent starting point) does some stuff and then:
[code]

More info, including version info, in the attached file.  If this is a trivial mistake on my part, a hint or reference to help would be appreciated.

[log.txt](https://github.com/JMRI/JMRI/files/2906648/log.txt)

[2019-02-26 17:28] pabender commented on #6600
I have been able to use mvn to run the cucumber tests by themselves.  I think that was the last thing I used the mvn single target for.

I tried to run logalltest using batchtest and that failed to produce useable results... though I think I may have missed kicking out the HeadlessTest and it started executing that.

I have my local machine here running the ant headlesstest target with batchtest.

[2019-02-26 17:30] bobjacobsen commented on #6600
Switching to JDK11 (after trying Maven 3.6, which didn't help) got me temporarily past that so I can try it.  Comparing the two methods, Maven is significantly slower and more verbose (see below).  Is there a way to create a specific maven task that's more targeted at a rapid test cycle?

[code]

(including an `ant tests` step increases the `runtest` time to 3.6 seconds, which is closer to the `mv

[2019-02-26 19:12] pabender commented on #6600
I'm beginning to think moving to batchtest is a bad idea.

If I run all the tests without forking the JVM, i get a significant number of errors, mostly in the GUI tests.

If I fork the JVM, I still get some more errors, but the tests take a lot longer.  To give you an idea, I started headlesstest before I left for a 90 minute class, and it wasn't finished when I got back... though I did have an er

[2019-02-26 22:48] dsand47 commented on #2599
The block userName problem is caused by the layoutBlock object.  The LE track component block assignment actually refers to the layoutBlock.  The userName for the layoutBlock matches the userName of the related Block object.

When a block userName is changed, the layoutBlock now points to nothing.  When the panel xml file is saved and loaded after start up, a new Block is created during panel load

[2019-02-26 22:57] dsand47 opened #6603 "Access to coveralls is randomly broken"
I get a 504 timeout trying to access the coveralls report for PR #6576.  This has been happening for several days with 2 different builds.  I can sometimes access reports for other pull requests.

I am trying to see the coverage for jmri.jmrit.ctc and its components.

[2019-02-27 01:23] pabender commented on #6603
Unfortunately, there isn’t much we can do about this because we don’t run coveralls and the issue is n their end.

You do have the option of running the coverage checks yourself locally.  The `ant alltest-coveragereport` target will generate a coverage report for you on all the tests.  The report itself is a set of web pages.

[2019-02-27 01:51] rhwood commented on #6600
Do you have the junit reloading parameter set to true (default) or false?

[2019-02-27 02:25] pabender commented on #6600
@rhwood, I am sure that was set to the default.  Will have to check in the morning.

[2019-02-27 15:56] dsand47 commented on #6603
The coveragereport option works great.  An additional advantage is that since it is runs on my local machine, I can run it as needed.  Thanks.

[2019-02-27 15:56] #6603 closed

[2019-02-27 16:26] pabender commented on #6600
setting reloading to false seems to help with errors when run with fork set to yes.  It does not help with runtime.  Headlesstest took over an hour to complete.

With fork set to no, more tests fail than succeed.

[2019-02-28 02:57] rhwood commented on #6600
Concerning maven, the version of maven is not completely relevant (as long as its > 3.3.9) since the pom.xml defines the version of the code ("plugins") used for most of the tasks. Those need to be updated individually.

There has been a long standing conflict between maven and Eclipse generated code that I don't entirely grasp, but it seems to cause maven to do excessive compilation. I'll try to

[2019-02-28 03:18] pabender commented on #6600
The ant `alltest-coveragecheck` Target will fail if the coverage targets are not met.

There is a certain amount ( however small ) of cost associated with the PackageTest files.  If I can get the ant targets to behave with the batchtest option in place I will.

[2019-02-28 04:58] bobjacobsen opened #6606 "Occasional NPE during C/MRI startup"
Sometime in the last few months (since November 2018), a local C/MRI installation has started seeing a very intermittent error during startup:
[code]

LayoutEditor is not in use, but a number of Panel Editor screens are sequentially read from separate files and shown during the startup.

[2019-03-01 00:44] devel-bobm commented on #6581
The next test release of JMRI should contain updates which allow a JMRI "connection" to specify the "connection type" as
- PR4
- DCS240 USB interface
- DCS52 USB interface.

For each of these, the user may configure the connection as working with some command station, or working only with the programming track (i.e. as a "Standalone programmer"), or working with a "Standalone LocoNet".

As such, t

[2019-03-01 02:03] Jonny-vdv commented on #6581
Thanks for the information. I have my layout set up using the DCS51 option, which is fine for running locos, but it will be nice to get the full functionality from JMRI.

[2019-03-01 02:04] #6581 closed

[2019-03-01 14:34] pabender commented on #6600
Just in case someone wants to pursue this further, I am attaching the results of 'ant logalltest' and the modified build.xml (with a .txt extension, since github is complaining...) that was used to create this.

In this case, 'ant logalltest' took 190 minutes to complete way too long for normal operation....

[testoutput.txt](https://github.com/JMRI/JMRI/files/2919808/testoutput.txt)
[build.txt](h

[2019-03-01 16:51] dheap commented on #6598
This has been resolved via #6601.

[2019-03-01 17:01] #6598 closed

[2019-03-02 00:19] danielb987 opened #6608 "Bad Javadoc links to other projects"
I noticed that Travis gives three warnings:

[code]

The last warning is simply two lines with `<p>` so it's easy to fix and I will do a PR for it. But I'm unsure about the other two.

The link https://static.javadoc.io/org.openlcb/openlcb/0.7.22/ gives a xml file with the message `AccessDenied`. But the link https://javadoc.io/doc/org.openlcb/openlcb/0.7.22 gives the Javadoc for openlcb. Has java

[2019-03-02 00:25] danielb987 commented on #6608
I found the links to `static.javadoc.io` in `pom.xml`. But the question is if these links should be changed.

[2019-03-02 00:32] bobjacobsen commented on #6608
The configuration for building the Javadoc is in build.xml and pom.xml

I don't know of a correct place to link to for either project.  An older version of jackson.core is available here: https://fasterxml.github.io/jackson-core/javadoc/2.2.0/

Part of the problem is that the target link has to provide a package-list file (ala http://jmri.org/JavaDoc/doc/package-list) that the Javadoc processor ca

[2019-03-02 00:34] bobjacobsen commented on #6608
Also, see the javadoc target in build.xml for some examples and a StackOverflow link.

[2019-03-02 18:04] bobjacobsen opened #6613 "GitHub reporting security issue with lodash"
GitHub's security scanners are [reporting an issue with lodash](https://github.com/JMRI/JMRI/network/alert/web/app/package-lock.json/lodash/open) recommending that it be updated to version 4.17.11 or later.

It JMRI, 'lodash' appears only in the web/app tree. At the top level of that, the `web/app/package.json` file specifies the version as 4.17.5:

[code]

We distribute a `web/app/node_modules/lo

[2019-03-02 18:18] rhwood commented on #6613
I’ll have a PR tomorrow.

[2019-03-02 20:05] rhwood commented on #6613
Should be addressed by #6614

[2019-03-02 20:33] danielb987 commented on #6608
Thanks @bobjacobsen
Both PRs are now merged so closing this issue.

[2019-03-02 20:33] #6608 closed

[2019-03-02 22:51] rhwood commented on #6600
I'm getting runtimes for the _headlesstest_ target comparable to master with the attached
[build.xml.txt](https://github.com/JMRI/JMRI/files/2922577/build.xml.txt), but one run got me "missing NceMessage" errors like in #4911.

Due to some strange decision on my part not to cut and paste the batchtest element from the _headlesstest_ target to the _logalltest_ target, I've been running that with du

[2019-03-03 00:37] svatoun commented on #6303
As a newbie I started to hunt this issue.

During testing, I have found something similar with Z21 but that bug is XPressNet specific; I don't support it would apply to MERG as well.

The thing is that the individual `ConnectionConfig`s register themselves with system-wide managers. As you select a different connection, the former one gets `dispose`d (removed from manager etc). As part of the `dis

[2019-03-03 02:25] pabender commented on #6303
Remember that dispose is also called during tests to clean things up (especially threads) and in the specific case of the Z21 connection, there are several threads to stop.  I'll look at the PR once you have it together and see if it is OK.

Also, It isn't quite true that connections can only be started at startup.  We don't regenerate the menus after startup, but you can start a connection.

Ther

[2019-03-03 02:38] rhwood commented on #6600
I'm getting persistent timeouts on the _logalltest_ target, which leads me to think there is some ant junit / batchtest / GUI interaction that is proving problematic, especially given the errors with thread locks in the logs, since the _headlesstest_ is running flawlessly with batchtest.

[2019-03-03 07:03] svatoun commented on #6303
@pabender specifically for XpressNets I found a place where a field is cleared, but never reiniitalized again - except from `configure`. And code assumes it is non-null always, so after XPressNet is deselected from the config  panel, the code could fail on several places.
I I've found `configure`s and `configureManagers` to be called from XML deserializers (only ?). What's the entry point to initi

[2019-03-03 07:19] pabender commented on #6303
Which field are you talking about?

After dispose is called on any object, that object is no longer viable, so the fact that there is something that is set to null that other parts of the code think should be non-null isn’t necessarily an issue.

What's the entry point to initiate the connection on a running system ?

You more or less have to do this from a script.

See, for examples:
https://gith

[2019-03-03 07:54] svatoun commented on #6303
eh ;) sorry to be so vague. I'll post diff next time. See `XNetSystemConnectionMemo:301`, `xt` is null-ed, but reinitialized only from the constructor. In my case (which probably does not cover the reported bug!) causes an exception to be thrown from wherever this object is  held `getThrottleManager`  and more importantly callers of `getXNetTrafficController` assume it is non-`null`.

You've noted

[2019-03-03 08:07] bobjacobsen commented on #6613
@rhwood Thank you!  Seems to have fixed the `lodash` issue.

It's moved on to flagging `bootstrap`, [requesting 3.4 or later](https://github.com/JMRI/JMRI/network/alert/web/app/package-lock.json/bootstrap/open).  Is that one of the updates that has to wait, as described in #6614?

[2019-03-03 10:36] rhwood commented on #6613
@bobjacobsen I don't get to see the alerts (I don't have whatever permission is required), but since the `bootstrap` package is not listed in the file `web/app/package.json` that package is brought in as a dependency of the `angular-patternfly` package, which we need to wait on as described in #6614.

[2019-03-03 10:44] svatoun opened #6617 "Broken mListenerMasks synchronization in XNetTrafficController"
During debugging I found that there's a NPE throwed during startup in XNetTrafficController. My setup contains a Roco Z21 simulator, so xpressnet communication interfaces are created.

It turned out that on startup, the main thread was initializing the system, including XNetTrafficController construction; meanwhile, the EDT is executing `forwardReply` which happens to see a default value of mListe

[2019-03-03 11:50] rhwood commented on #6600
I found some stack overflow comments that suggest the presence of a JUnit 3 test may cause ant's junit task to run everything as a JUnit 3 test; we still have at least 183 JUnit 3 tests (based on output of `grep -r "import.*junit.*TestCase" java/test | wc -l`)

[2019-03-03 13:24] pabender commented on #6617
The code you are looking at is relatively old.  Most of it I wrote over a decade ago, so it is a good exercise to go back and make improvements that take advantage of more modern techniques.

As long as you don’t do anything that will remove existing features or break existing installations, I think the fixes you are making are generally OK.

[2019-03-03 13:32] pabender commented on #6600
@rhwood thanks for picking up the torch on this one.  I think this is generally the right direction to go.

I do wish we could figure out the cause of those NceMessage related errors, which I have always found strange because it is a runtime linking complaint about one of our classes.

[2019-03-03 13:43] rhwood commented on #6600
@pabender I'm working on #6619 as a precursor to returning to this.

I am beginning to think that the errors in the tests are stemming from the tests run by ant not running on the same class of thread (i.e. AWT or whichever thread runs main) as the tests run by AllTest, since the overwhelming majority seem to be from a deadlock in TabbedPreferences (which may also be a real problem per #6579).

[2019-03-03 15:32] Hansschaap2 commented on #6469
Hello Egbert,

Though I tried to import the new definitions it didn’t work.

How can I import the new WIP xml?

Van: Egbert Broerse [mailto:notifications@github.com]
Verzonden: woensdag 20 februari 2019 23:23
Aan: JMRI/JMRI <JMRI@noreply.github.com>
CC: Hansschaap2 <hansschaap2@kpnmail.nl>; Mention <mention@noreply.github.com>
Onderwerp: Re: [JMRI/JMRI] NEW DECODER definition needed (#6469)

First

[2019-03-03 17:06] silverailscolo commented on #6469
The decoder definition needs some files from the decoders/uhlenbrock/ folder as well.
Do you have GitHub running, with your own branch of JMRI?

Still have to add some extra stuff, will try to look at it the coming evenings.

Egbert

[2019-03-03 19:23] bobjacobsen commented on #6600
#6621 (from the bobjacobsen/preferences-deadlock branch) is a reworking of the synchronization of TabbedPreferences et al.  It may improve the situation with test deadlocks.

[2019-03-03 22:39] danielb987 opened #6624 "Breaking dependencies between jmri package tree and the apps package tree"
As @bobjacobsen noticed in PR #6621, where is a number of files in the `jmri` tree that uses classes in the `apps` tree.

[code]

There are a couple of categories here:
`apps.Apps` and `apps.AppsBase` is often about `handleRestart()` and `handleShutdown()`. These methods executes ShutdownManager.restart() and ShutdownManager.shutdown() but also catches every exception and logs the exception.
I'm t

[2019-03-03 23:01] rhwood commented on #6624
All the startup items should be in `jmri.startup`, not the root of `jmri`. Nothing in the `*.startup` package should be considered "core" JMRI functionality that a third party program using the jmri.jar as a library needs to consider.

Note however, that philosophically, the first, and possibly only things that should be moved are the `apps.PerformActionModel` and family of classes. The preference

[2019-03-03 23:30] bobjacobsen commented on #6579
@rm5248 Could you try the development build in http://builds.jmri.org/jenkins/job/Development/job/Builds/3226/ or later? I think the changes in #6621 should fix your problem, and those are included in that test build.  Thanks.

[2019-03-04 23:02] svatoun opened #6631 "NullPointerException thrown when editing track"
I experimented with `Edge Connectors`. I'm not sure where the data got corrupted, so I'll try to describe the seqence of operation.
1/ I had an existing track which ended with a bumper.
2/ removed the bumper
3/ changed the endpoint at the track's end (former bumper) into an anchor.
4/ connected the edge connector with the anchor using track segment, started dragging at the edge anchor

Now when I

[2019-03-04 23:18] svatoun opened #6632 "Ill behaviour of New Memory Variable window"
`Create` is not a default button. `Cancel` does not close the window. Allows to create apparently bad mem variable - with an existing User Name; IMHO should prevent from creating the variable.

[2019-03-04 23:25] svatoun opened #6633 "UI inconsistencies in Layout Editor"
- memory variable and signal show tooltips with names/IDs when hovering mouse over them. Turnouts and tracks do not.
- Edit vs. Properties in popup menu; should be unified for all objects
- Delete vs. Remove in popup menu

(will add as I encounter other ones)

[2019-03-04 23:42] dsand47 opened #6634 "Changing Block user names can break Layout Blocks"
Track components on LE panels can have a block name assigned.  This name is actually the user name of a layout block.  The user name of the layout block is also the user name of the related block object.  This establishes the link between the layout block and block.

When a block is renamed, the link is broken.  See #2599.

I have identified several possible solutions.
1. Add pre-change validation

[2019-03-05 00:09] bobjacobsen commented on #6634
Is there a specific reason that the names have to be the same?  If not, there’s a possible 5th solution:

- LayoutBlock references its associated Block via a NamedBeanHandle<Block> data member. When constructed, it finds and attaches to the Block with the same user name, but after that it references through the NamedBeanHandle member even if the Block is renamed.  (The user name of the Block is sa

[2019-03-05 00:27] dsand47 commented on #6634
I did consider a variation on that idea.  The potential issue is that from a user perspective, the block name assigned to a track component  **_is an entry_** in the block table.  The user has no direct visibility to the existence of the layout block.  The primary purpose of the layout block is to provide the track, occupied, and extra colors, along with memory variables for old style block tracki

[2019-03-05 00:39] bobjacobsen commented on #6634
Thanks!  (I’m not a LayoutEditor user, so appreciate you taking the time to explain)

Sounds like a good case for inverting the dependency:

- Have the LayoutBlock set a listener on the Block
- When the username property of the Block changes, the Block fires a notification to its listeners
- The LayoutBlock responds by renaming itself.

[2019-03-05 02:37] geowar1 commented on #6631
On Mar 4, 2019, at 3:02 PM, Svata Dedic <notifications@github.com> wrote:

Deleting an End Bumper should delete the track segment that it's attached to. Or do you mean the track segments end bumper decoration?

(It's been in my queue to re-think the UI for end bumper decorations… it makes more sense for them to be in the End Bumper's popup menu than the track segments.)

How do you change somethin

[2019-03-05 02:56] geowar1 commented on #6633
On Mar 4, 2019, at 3:25 PM, Svata Dedic <notifications@github.com> wrote:

Tooltips can only be attached to subclasses of JComponent… like memory variable & signals. Turnouts and tracks are not subclasses of JComponent. :(
(There may be a different way to do tooltips for LayoutTracks… I'll look into it.) My "solution" was to add more properties to the LayoutTrack popup menus.
The down side is that

[2019-03-05 03:39] geowar1 commented on #6634
On Mar 4, 2019, at 4:39 PM, Bob Jacobsen <notifications@github.com> wrote:

The LayoutBlock already has a listener… currently it's only used to update any attached memory variable.

I do see it getting called when the block assigned to the LayoutBlock is renamed:

2019-03-04 19:17:08,009 layoutEditor.LayoutBlock              INFO  - handleBlockChange(java.beans.PropertyChangeEvent[propertyName=Use

[2019-03-05 06:38] dsand47 commented on #6634
Here is the current scope of this project.

There are 2 situations that have to be addressed.  The Block user name is **changed** or it is **removed**.  This happens in either **BeanEditAction** for table row edits or **BeanTableDataModel** for the table row user name context menu.  If a related layout block with a use count greater than zero exists, the remove option has to be prevented, while th

[2019-03-05 08:04] svatoun commented on #6631
Sorry, misleading description. Removed bumper == `Right click on track -> Decorations -> End Bumpers -> None`.
Feel free to ignore this and the other bug I've filed yesterday, I was just recording my "session" with JMRI, will try to fix those myself (and learn a little bit more along the way).

[2019-03-05 08:21] svatoun commented on #6633
General: feel free to ignore, for some while, I should have marked the bugs as 'my backlog' somehow to indicate I am willing at least to investigate & suggest the fix (but not immediately, I've tried to play with the editor)

re.: Delete / Remove and Edit / Properties: just naming consistency.
Strictly technically while track segment is Deleted (since it does not exist anywhere else), Memory is Re

[2019-03-05 14:52] bobjacobsen commented on #6568
A jmriusers note that might have useful info:

[2019-03-05 15:43] dsand47 commented on #6634
The layout track block references should be changed to named bean handles.  Other references, such as turnouts, signal masts and signal heads already use named bean handles.

This eliminates the need for listeners on the track components.

[2019-03-05 15:51] geowar1 commented on #6634
Do you mean that LayoutBlocks should be NamedBeanHandles?
Or just their references:
[code]

[2019-03-05 16:00] bobjacobsen opened #6635 "Handing parameters in Javadoc"
This issue is for discussion of handling parameters in Javadoc; see some background discussion in PR #6628

What should our common practice be on documenting parameters in Javadoc?

How the Javadoc processor handles parameters without explicit Javadoc `@param` lines has changed over time.  Currently, with the Ant options we use for building for the web, this code example:

[code]

throws a warning

[2019-03-05 16:04] dsand47 commented on #6634
If you look at LayoutTurnout, the bean references (turnouts, signals, etc.) are named bean handles except for layout block.

I don't see LayoutBlock trying to refer to Block as a named bean handle since LayoutBlock is a bean and its user name has to change at the same time as the Block user name.

[2019-03-05 16:46] bobjacobsen opened #6636 "Is EasyDCC broken?"
There have been a couple comments on jmriusers that perhaps EasyDCC is communications is broken in recent versions.  [Earlier today](https://groups.io/g/jmriusers/message/157607):

[2019-03-05 16:50] bobjacobsen commented on #6636
An [earlier post](
https://groups.io/g/jmriusers/message/157456):

[2019-03-05 17:01] pabender commented on #6635
@rhwood mentioned in #6628 that the build is already set to error if the number of warnings exceeds a threshold.

If we set the threshold lower, that will help prevent adding new parameters that are undocumented. without documenting the existing parameters with something meaningless.

This is a bit like our testing thresholds which are in place not to prevent new untested ( or undertested ) code,

[2019-03-05 18:15] pabender commented on #6301
I am closing this via #6414.

In addition to updating the cab signal table, the code in #6414 (now merged) will send a cab signal to a Digitrax DT402 or DT500 plugged into the network.  It actually sends something every time the specified address transitions to a new block.  On blocks without signals, this means the cab signal will be blank.

I don't have any other loconet throttles available that

[2019-03-05 18:15] #6301 closed

[2019-03-05 19:13] geowar1 commented on #6634
So just change the references to LayoutBlocks in the LayoutTracks sub-classes to be NamedBeanHandle<LayoutBlock>'s?

[2019-03-05 21:34] geowar1 commented on #6634
Hey @dsand47, I'd appreciate a code review on #6637. Thanks. ;-)

[2019-03-06 10:48] rhwood commented on #6635
I'm for documenting everything.

In the case of `remove(T item)`, I'd think that needs to be documented to discuss what happens if `item` is not present, is only the first instance of `item` removed or all instances, and what happens if `item` is null (yes, there are annotations for that, but users writing jython scripts or third parties relying on a compiled jmri.jar have no access to the annotat

[2019-03-06 14:46] bobjacobsen commented on #6635
Not sure what you're saying about annotations.  This code:
[code]
generates this for the Javadoc summary:
![image](https://user-images.githubusercontent.com/2774117/53888779-353b2600-3fda-11e9-8df0-6698b73198b5.png)

which doesn't show the annotations, but the Method Detail section does show them:

![image](https://user-images.githubusercontent.com/2774117/53888885-500d9a80-3fda-11e9-9411-2695e7bb

[2019-03-06 19:27] silverailscolo commented on #6635
I agree on this (time permitting)
And economically stripping out the dashes using a ``grep`` improves readability in Javadoc (and stumbling over it during coding).

Egbert

[2019-03-07 06:56] danielb987 commented on #6635
I'm working on a new peice of code and have some methods like this:

[code]
I have omitted the javadoc for the parameter since I have thought that it doesn't add any value. But I'm happy to add it if desired. If so, what should I write as javadoc?

Is this the way to go?
[code]

[2019-03-07 07:10] pabender commented on #6635
@danielb987

Without context I cannot say if that is adequate.

As an example, if the value is constrained, you need to add something about the constraints and what happens if they are violated.

[2019-03-07 07:32] danielb987 commented on #6635
I'm working on a new generation Logix. Instead of Conditionals, it has Expressions and Actions, there Expressions ask a question and Actions do something.

The example above is pulled from the interface AnalogAction which sets an analog value. The entire interface is below.

There is no constraint of the value to the method setValue() except that it must be a valid float, which is ensured by the c

[2019-03-07 11:54] rhwood commented on #6635
I was under the impression annotations are not included in Javadocs; my mistake. However, I also see that annotations have been added that putting illegal constraints on an overridden method signature—I’d rather discourage the breaking of a class's contract than rely on annotations for documentation.

[2019-03-07 12:08] rhwood commented on #6635
In @danielb987's examples, the discouragement of using NaN as a value should be documented (and why) and in the case of the `evaluate()` method what happens when an expression is evaluated and has an error (like divide by zero or multiplying Float.MAX_VALUE * 2 could trigger)?

[2019-03-07 23:30] #6617 closed

[2019-03-09 08:33] silverailscolo commented on #6469
@Hansschaap2 the definition for your decoder, and related 2018 IntelliDrive2 models, was merged with PR #6585 and will be in the next JMRI test release. Look under Uhlenbrock as Manufacturer, where you will see the PIKORH2400. Can you do some testing? Not all vars are in place yet, and the Sound vars might show odd values as their documentation is limited. (I suggest not writing whole sheets initi

[2019-03-09 16:14] #6568 closed

[2019-03-09 23:36] rhwood opened #6656 "Should SimpleTimebase throw InvalidParameterException on setRate()?"
https://github.com/JMRI/JMRI/blob/93c0e973092191dc9147a275ccd9f43e78f6abd5/java/src/jmri/jmrit/simpleclock/SimpleTimebase.java#L185-L189

`setRate(double)` in SimpleTimebase silently swallows erroneous input and logs an error message. I think it should instead throw an `IllegalArgumentException` on erroneous input. Is there any reason it should not throw an exception that I am not thinking of?

My

[2019-03-10 01:55] rhwood commented on #6656
Per https://github.com/JMRI/JMRI/blob/93c0e973092191dc9147a275ccd9f43e78f6abd5/java/src/jmri/Timebase.java#L52-L59 the implementation in `SimpleTimebase` should throw `TimebaseRateException`, so I'll be implementing that.

[2019-03-10 01:56] rhwood commented on #6656
Reopening until closed with a PR.

[2019-03-10 19:42] bobjacobsen commented on #6560
The release-4.15.4 branch has been created.

Maintainers, please set the 4.15.5 milestone on pulls from now on, as that will be the next test release from the HEAD of the master branch.

Jenkins will be creating files shortly at the [CI server](http://builds.jmri.org/jenkins/job/TestReleases/job/4.15.4/)

[2019-03-10 21:28] rm5248 commented on #6579
@bobjacobsen It seemed to work at least the first time, so Panelpro did at least come up.  However, I then went and tested it a bit and found another deadlock after I added a (non-existent) Xpressnet connection.  I've attached the newest stack trace(which also includes all the debug output as printed out in netbeans).
[stack.txt](https://github.com/JMRI/JMRI/files/2950080/stack.txt)

I also couldn

[2019-03-11 06:21] bobjacobsen opened #6659 "AllTest running too long"
Recently (past few days?)  both AppVeyor and Travis graphical have taken to running too long.  Jenkins is seeing this too on jobs that run AllTest.

'ant alltest' on my laptop, which used to run in ~30 minutes, now runs for as long as I let it.

Running specific tests seems to point to:
[code]

as (at least one) something that runs forever. In that state, a thread dump doesn't show a `main` thread

[2019-03-11 07:07] bobjacobsen commented on #6659
`git bisect` narrowed this down to commit e7d516d2d1e8eebd10bc63551071bb84c07945e3
[code]

The changes are here:
[changes.txt](https://github.com/JMRI/JMRI/files/2950989/changes.txt)  (From `git diff 96ce34f8e2010b42ed77bb48a890be2b0275577f...e7d516d2d1e8eebd10bc63551071bb84c07945e3`)

Since I've been running this test via `./runtest.csh`, the most relevant part seems to be:
[code]

[2019-03-11 08:23] rhwood commented on #6659
I did that because [JUnit documentation](https://github.com/junit-team/junit4/wiki/Test-runners) suggested using `runClasses()` instead of `main()` was the correct method for launching JUnit tests.

[2019-03-11 09:03] rhwood commented on #6659
I think this immediate issue is fixed in 461367a in #6657

[2019-03-11 09:20] rhwood commented on #6659
And 6009514 restores the JUnit default text output for tests in `runtest.csh`. Note that we do now have the option of implementing our own output formatter.

[2019-03-11 11:49] devel-bobm opened #6660 "Reporters Table can be inaccurate"
Seen in 4.15.4 (first pre-release build):
The "Reporters" table does not always reflect "absence" events as reported by a LocoNet transponding device.
Testing with real hardware usually does not reflect transponding "absence" events, but sometimes does.

I ran a "LocoNet Simulator" connection to send sent a couple of transponding messages using Send "LocoNet Packet".  Messages were:

[code]

LocoN

[2019-03-11 12:13] devel-bobm commented on #6660
Some additional LocoNet message examples:

[code]

[2019-03-11 12:20] pabender commented on #6660
I see the exit, which is the last of the two messages.  That is correct behavior here.

[2019-03-11 12:41] pabender commented on #6660
Is your concern that “last report” doesn’t show the enter message?

That isn’t something we are going to be able to change for two reasons:
1) the tag itself is storing the enter/exit as an attribute.  There is only one tag, so both reports are the same
2) the reporter api requires that if there is a current report, the last report and current report are equal.

[2019-03-11 12:54] devel-bobm commented on #6660
@pabender - you're right, the image shows "exit".  It turns out that the display changed between the time I sent the message and the time I captured the screen-shot.

After a repeated test, I find that the "exit" case did not show up in the Reporters Table - until after I switched focus away from JMRI and back.  And then I re-sent the entry message, and it didn't show up in the Reporters Table unt

[2019-03-11 13:06] devel-bobm commented on #6660
Does this console log help any?  It is from a separate run, where I've only sent the "entry" message once and the "exit" message once.  The "Reporters" table shows "3 enter" for both "Report" and "Last Report.

[code]

[2019-03-11 13:17] devel-bobm commented on #6660
@pabender,
My problem is that the Reporters Table is behaving inconsistently, per my comments above.
- It does not reliably show "exit" and "entry" events.
- It sometimes changes the Reporters Table display to the correct state when focus shifts to another application.
- At other times, changing focus has no effect on display of a "not yet reported" state change event - the previously-reported sta

[2019-03-11 14:08] bobjacobsen commented on #6660
This sounds like the Table isn't being told there's a difference.

`jmrit.beantable.BeanTableDataModel` has a `propertyChange` method (line 130 or so) that gets `PropertyChange` events from all the table's beans, and decides whether to fire table refreshes.

- Are all the Reporter value changes going there?
- Do they carry the `getPropertyName()` and `getSource()` values needed?

[2019-03-11 14:19] pabender commented on #6660
Ok, I think I understand what is happening.

Because the enter and exit are for the same object, the property change for the report values isn’t sent.  That is actually correct behavior, though it doesn’t show what you want it to in the table.

To force the table to update correctly, there are at least a couple of options:

1. The quick and dirty potion is to just set the report to null before sen

[2019-03-11 14:31] #6656 closed

[2019-03-11 14:31] #6659 closed

[2019-03-11 14:42] bobjacobsen commented on #6660
I don’t think I understand the statement above. It’s routine for the same object to send PropertyChange events when just the _value_ of that property changes. Am I misunderstanding sone about ‘value’?

[2019-03-11 14:54] devel-bobm commented on #6660
FYI - I am not a frequent "reporter" user; I simply saw that LocoNet transponding activities were not being reported in the same way that they were when I added the BXP88 and BXPA1 transponding features to the pre-existing BDL168+RX4 transponding features.  I figure that this new behavior would be problematic for existing users of JMRI Reporters with LocoNet Transponding.

[2019-03-11 15:46] pabender commented on #6660
Sent from my iPad

The value the reporter is reporting is the tag.

The tag maintains the enter and exit property so it can be used in reports.  In other words, The tag has properties that change, but the tag ( which is being reported by the reporter ) does not actually change.

We fire a property change on the report value when the property changes in the tag, but if the listener is looking super

[2019-03-11 15:54] pabender commented on #6660
For what it’s worth, we implemented the toString on the TranspondingTag objects and immediately deprecated it so that existing users would have time to adjust to the new behavior.  The old behavior had the LocoNet reporters reporting Strings, which are hard to use in other parts of JMRI ( such as operations ).

[2019-03-11 15:56] pabender commented on #6660
@devel-bobm I just merged #6661.  Can you verify this solves the problem for you.

[2019-03-11 19:17] geowar1 commented on #6634
Fixed via PR #6637. Verify and close? TIA.

[2019-03-11 19:39] devel-bobm commented on #6660
The behavior from #6661 _seems_ to be consistent with the behavior I remember from previous JMRI behavior.  Thanks!

We will have to rely upon user input to validate this approach.

[2019-03-11 19:54] devel-bobm commented on #6660
P/R #6661 seems to restore the timely and accurate "Reporters Table" reporting of LocoNet transponding messages, without "missing" any reports from LocoNet messages.  I believe that P/R #6661 addresses the issue adequately and thus am closing this issue.

[2019-03-11 19:54] #6660 closed

[2019-03-12 01:52] pabender opened #6667 "Exception loading TCS decoder definition with current head of master"
I am getting the following exception when trying to load a decoder definition for a TCS IMF4 decoder from the January 2012 family:

     [java] 320465 ptionhandler.UncaughtExceptionHandler ERROR - Uncaught Exception caught by jmri.util.exceptionhandler.UncaughtExceptionHandler [AWT-EventQueue-0]
     [java] java.lang.NullPointerException
     [java] 	at jmri.jmrit.symbolicprog.FnMapPanel.addOutput

[2019-03-12 04:36] bobjacobsen commented on #6667
PR #6670 should fix this. Sorry for the trouble.

[2019-03-12 16:42] pabender commented on #6667
Thanks @bobjacobsen, that fixed it.

[2019-03-12 16:42] #6667 closed

[2019-03-12 22:54] dsand47 commented on #6634
As of 4.15.4, block renames are propagated to the related layout block and are visible to the LE track objects.

If a block has a related layout block, attempts to remove the block user name are not permitted.  For renames, the user is notified that their LE track block assignments are also being changed.  See #6669 .

[2019-03-12 22:54] #6634 closed

[2019-03-13 13:34] bobjacobsen opened #6673 "Create Test Release 4.15.5"
This is the next release in the 4.16 cycle. It's intended to be created around April 10 from HEAD of master.

[2019-03-13 14:20] bobjacobsen commented on #6560
JMRI 4.15.4 has been released. Files are available in the GitHub release section.

[2019-03-13 14:20] #6560 closed

[2019-03-14 10:28] rhwood commented on #6600
While working on #6619, I did find that at least one test class was not included in a PackageTest suite, and that including this test (since fixed) broke many tests that ran after it because it changed static value that did not get unloaded (and the change was not reverted in `tearDown()`). I don't know if some of the failures noted earlier were related to the mere fact that tests not normally run

[2019-03-16 16:40] bobjacobsen opened #6685 "Jenkins fails test w non-ASCII characters"
[Jenkins Jacoco job is now failing](http://jmri.tagadab.com/jenkins/job/Development/job/JaCoCo/2028) due to non-ASCII characters in a test that passes CI. Is this a Jenkins configuration issue?

[code]

[2019-03-16 16:45] rhwood commented on #6685
Is it only the Jacoco job that is failing or other jobs as well?

[2019-03-16 17:01] rhwood commented on #6685
Although https://www.linkedin.com/pulse/how-resolve-utf-8-encoding-issue-jenkins-ajuram-salim is specific to Windows, it suggests that maybe the LANG environment variable needs to set.

[2019-03-16 18:57] bobjacobsen commented on #6685
@rhwood thank you. LANG and LANGUAGE are set, but there seems to be others involved too. Working on it.

[2019-03-17 01:36] devel-bobm opened #6687 "Lockup when changing LocoNet "system connection" setting"
Users on jmriusers list report JMRI lockup when changing LocoNet "system connection" setting.  See [https://groups.io/g/jmriusers/message/157968](url).

[2019-03-17 01:46] devel-bobm opened #6688 "LocoNet Receive thread looping seems "uninterruptable""
Several `while` loops within `LnPacketizer.RcvHandler.run()` and `LnPacketizer.readByteProtected()` do not provide any mechanism for graceful termination.

This appears to cause problems for `LnPacketizer.dispose()`:
[code]
The unprotected `while` loops seem to prevent `rcvThread.interrupt()` from doing anything useful, such as exiting the `RcvHandler.run()` method.  With the `RcvHandler.run()` st

[2019-03-17 02:02] devel-bobm commented on #6688
Setting the purejava `serialPort's` `enableReceiveTimeout()' parameter may also help with interruptability of `LnPacketizer.readByteProtected()`.

[2019-03-17 02:05] icklesteve commented on #6687
Is this the same issue as #6303 ?

[2019-03-17 02:14] bobjacobsen commented on #6687
This is recent enough that if somebody can reproduce it, `git bisect` should locate the change that caused it.

Can anybody reliably recreate this?

[2019-03-17 04:45] bobjacobsen commented on #6687
I haven't been able to recreate it exactly as described.  A similar-but-not-exactly-the-same lockup can be traced back via `git bisect` to
[code]
so I'm working on that now.

[2019-03-17 05:55] bobjacobsen commented on #6685
@rhwood Thanks for the hint. I think it’s fixed, am running a full set to check.

[2019-03-17 11:59] devel-bobm commented on #6687
@bobjacobsen ,The lockup I see (Win7-64) can be traced (via `git bisect`) to the same commit as you note above.

[2019-03-17 16:46] bobjacobsen commented on #6685
Now fixed via Jenkins config and update.

[2019-03-17 16:46] #6685 closed

[2019-03-17 16:55] bobjacobsen commented on #6688
The proximate cause underlying #6687 is actually in JTermios, which underlies the PureJavaComm library we're now using:

[code]
The top trace is the AWT/Swing thread action that's responding to the user change of configuration by trying to shut down the existing LocoNet connection.  The second is that connection hung _inside_ the PJC read.

The `interrupt()` was issued, but nothing has happened.

[2019-03-17 18:23] bobjacobsen opened #6693 "Connection type list is no longer in desired order in preferences"
The set of possible connections (at least under Digitrax LocoNet) in the preferences used to be in a specific order:

![PreferencesOK](https://user-images.githubusercontent.com/2774117/54495845-04de6c00-48a5-11e9-9f12-7420c5dc28c6.png)

At some recent point, it switched to alpha order (which is not a good one; many of those connection types are uncommon, and should be further down):

![image](http

[2019-03-17 19:00] devel-bobm commented on #6688
It seems to me that this is caused by two things:
- `java.io.read()` (over a purejava stream) does not return on a thread interrupt unless a ReceiveTimeout is set to be non-zero; `LnPacketizer.readByteProtected()` is stalled and cannot allow the thread to terminate;
- the various `while` loops in `LnPacketizer.RcvHandler.run()` are not sensitive to Thread `interrupt()`, so the thread cannot be ter

[2019-03-17 19:43] devel-bobm commented on #6688
@bobjacobsen,

A proof-of-concept solution for this, based on the rough description above, can be found in a branch of my github repository as `devel-bobm:dbm-debugLocoNetConnectionChangeLockup`.

It solves the preferences panel LocoNet "system connection change causes lockup" problem.  It is possible that it might also address some need of @Ignore within LocoNet tests.

[2019-03-17 19:46] devel-bobm commented on #6688
Rolling this type of change into master would require changes for the "variant" packetizers under jmrix.loconet.

If found useful, it may make sense to roll this type of change into other system types, since some were coded using the LocoNet packetizer as a model.

[2019-03-17 20:27] pabender commented on #6693
I don’t see how that change could have impacted this.  The PR that was part of was adding connection confit options to the remote serial port on an XBee.

The specific change you show above was making it so the Stream connections don’t show in the regular connection list.

[2019-03-18 01:04] bobjacobsen commented on #6693
I agree it's unexpected, but I've confirmed that's the change that causes it (after a clean compile).

It looks to me like having `LnStreamConnectionTypeList` serve the `ConnectionTypeList` is causing confusion with the same service provided by `LnConnectionTypeList`.  The order is set in the `getAvailableProtocolClasses()` method of `LnConnectionTypeList`.  `LnStreamConnectionTypeList` `@Override

[2019-03-18 02:10] pabender commented on #6693
@bobjacobsen, LnStreamConnectionTypeList does not inherit from LnConnectionTypeList.  LnStreamConnectionTypeList only implements the StreamConnectionTypeList interface.

In other words, there is no method in super to call.  Also, if there was a supper method to call calling it would defeat the purpose of the separate interface.  This is being used so that the stream interface din’t Appear in the n

[2019-03-18 02:21] bobjacobsen commented on #6693
Clearly, I don’t understand what stream connections are supposed to be. Never-the-less, changing that one line is interfering with the regular connection configuration process. Can we just put it back? What configuration setup uses it?

[2019-03-18 02:25] pabender commented on #6693
Right now It is very specifically being used by the XBee Node configuration to configure connections on a remote XBee node.

[2019-03-18 02:29] pabender commented on #6693
I would have to go back through the entire PR that this was a part of to see if we can change it back.  There was a reason I changed it in the first place.

[2019-03-18 02:41] pabender commented on #6693
I think we might be able to remove the StreamConnectionTypeList methods altogether.  Part of the changes in the PR in question included code to filter the normal list and the list used by the XBee code.

Let me experiment and verify.

[2019-03-18 03:17] pabender commented on #6693
@bobjacobsen see #6698.

I did a quick check.  The XBee configuration correctly only shows the Stream connection options and the Loconet options for a standard connection appeared to be in the specified order with the stream connection option omitted.

[2019-03-18 04:19] bobjacobsen commented on #6693
@pabender Thanks!  That #6698 PR looks good, at least in my tests (without real hardware, just dummy serial ports)

[2019-03-18 05:42] bobjacobsen commented on #6688
Have you tried `serialPort.enableReceiveTimeout(1000)` with real hardware?

The reason for the smaller value was to get characters in without long waits; RXTX wouldn't forward characters until the timeout expired. Perhaps PJC has a different interpretation of that parameter.

[2019-03-18 05:52] #6693 closed

[2019-03-18 11:29] devel-bobm commented on #6688
@bobjacobsen,

No, I have not tried real hardware.  This was just as "proof of concept" that "Timeout" could help solve the "interruptability" issues in low-level purejava and java methods that seemed to contribute to the lockup.

[2019-03-18 22:32] devel-bobm commented on #6688
@bobjacobsen,

Life is going to prevent me from working on this in any predictable way for at least a few days.  I may get a chance to look into it soon, but probably not for several days...

[2019-03-19 23:25] icklesteve opened #6709 "MERG CBUS Speed Profiling"
Speed profiling isn't working at present.
Speed goes straight to 0xFF instead of starting with a slower number.
Reproducible on CBUS Simulated connection with 3 sensors.

Reported by Pete Brownlow on [https://groups.io/g/jmriusers/topic/problem_with_speed_profiling/30467340](https://groups.io/g/jmriusers/topic/problem_with_speed_profiling/30467340)

[2019-03-20 01:24] joycove3 opened #6710 "Speed Table and Forward/Reverse Trim Suggested Improvements"
I am wondering whether it would be beneficial to the users for:
1.  QSI and Soundtraxx Speed Table sheets to have a similar alert as found on the ESU Speed Table sheet for CV's 2 and 5,
2.  The NCE sheet to have a note about the Forward/Reverse trim uniqueness, and
3.  The TCS sheets to note that it is able to use Forward/Reverse Trim for the 3-point curve as well as the Speed Table?

These are ju

[2019-03-20 16:06] #6709 closed

[2019-03-22 05:54] bobjacobsen opened #6718 "Layout Editor File -> Store menu item behaves differently?"
From jmriusers:

it looks like the store menu item in the Layout Editor's File menu invokes `StoreXmlUserAction`, while (maybe) everywhere else invokes `jmri.configurexml.SaveMenu`.

`StoreXmlUserAction` comes with the warning:
[code]

That means that this store isn't storing the tables!

- Should we keep that?  If so, should be rename it to make that clear?
- Or should we make it use the same cod

[2019-03-22 10:27] Pugwash1 commented on #6718
We always use the file menu store  in the LE, and it saves everything. We ould have noticed!!
However, if you edit a line in a table, and don't move focus somewhere else, the change doesn't always work.

[2019-03-22 11:00] KenC57 commented on #6718
I never noticed a 'Store' in the LE. I would think using the typical store
would be the expected behavior.
-ken c

[2019-03-22 12:09] Pugwash1 commented on #6718
I tried the LE File->Store and the Tables File->Store->configuration and panels
They both finish up executing StoreAll in configureXMLManager, that store everything except "Preferences", and a few odds and ends. Reading the original thread, he says he used PanelPro->Edit->Preferences->Save, which doesn't save panels.....or tables..... Was the user using Tables->Store->Configurations, confusing con

[2019-03-22 16:05] bobjacobsen commented on #6718
So, at a minimum, it sounds like I should:
- Fix the comments in `StoreXmlUserAction` and kin to describe what they really do
- Change LayoutEditor to use the everybody-else convention of  `jmri.configurexml.SaveMenu`

Anything else?

Will put together a PR.

[2019-03-22 17:10] pabender commented on #6586
The basic answer is that DecoderPro focuses on programming decoders and PanelPro does not.

The locations of things diverged when the DecoderPro3 was created years ago.  For a while we distributed both DecoderPro and DecoderPro3.  Eventually DecoderPro3 just became DecoderPro.

There are things you can't do, or can't easily do in DecoderPro that you can do in PanelPro.  This is intentional.

We us

[2019-03-22 17:41] MARCFOUR commented on #6586
Thanks Paul.

[2019-03-22 17:41] #6586 closed

[2019-03-22 17:54] Pugwash1 commented on #6718
@bobjacobsen That's the crux of it. The fact that if you change a combo box in tables and then do store,without clicking anywhere else, the combo box field is not changed is something to do with ValueEditor.java which saves text fields without pressing enter, but doesn't service other types. I'm not too sure how its supposed to work.

[2019-03-23 19:15] silverailscolo commented on #5226
Recent progress in the xml using compositeVal type:
![LocoIO decoder 2019](https://user-images.githubusercontent.com/14811327/54870538-1abdc680-4da8-11e9-9a49-b14745f66779.png)

[2019-03-23 23:27] dheap commented on #6323
@rhwood Does #6311 resolve this?

[2019-03-23 23:28] rhwood commented on #6323
Yes, It does.

[2019-03-23 23:28] #6323 closed

[2019-03-25 19:36] mstevetodd opened #6723 "json websockets no longer processing changes from client"
Sometime after 4.15.3, the json websocket service began ignoring incoming change requests. Example, can be tested on http://jmri.mstevetodd.com:1080/json:
`{"type":"sensor","data":{"name":"LS149","state":2}}`
should change the state of sensor LS149 to 2 (active). It does not. Also tried with turnout:
`{"type":"turnout","data":{"name":"LT93","state":2}}`
Note: these commands properly return the cur

[2019-03-25 22:44] rhwood commented on #6723
If you add an explicit method to those messages does it then work as expected?

[2019-03-26 00:37] rhwood commented on #6723
Actually, the JSON WebSockets are behaving appropriately; absent an explicit request, performing a GET (an idempotent action) *is and has been* the default message behavior for some time. That sensors and turnouts no longer treat GETs as POSTs is the correct behavior; the web pages need to be updated to handle that.

[2019-03-26 01:00] mstevetodd commented on #6723
Really? This syntax has been in use since you changed panel.js and wrote jquery.jmri.js to use websockets instead of xmlio many years ago. All of the examples shown here: http://jmri.org/help/en/html/web/JsonServlet.shtml show this syntax.
Can you provide an example of the explicit message syntax you're saying is now the default? Is this syntax in use in the JMRI code anywhere?

[2019-03-26 11:56] rhwood commented on #6723
The default method has been a GET since 4.11.3, and was undefined before then (meaning that different types behaved differently, which could result in inconsistent behavior). The Javadocs for the JSON servers read that adding the `method` value for POST is optional, but even before 4.11.3, that was inconsistently true, so the docs have been inconsistent with implementation (i.e., either correct or

[2019-03-27 02:22] danielb987 opened #6728 "AbstractManager.register doesn't give an exception or warning if system name exists"
Due to a bug in my code, I tried to register a new bean with an existing system name and therefore it never got stored in the manager, which caused a strange error.

I have now found my bug and knows why my code generated the wrong system name. But I think that it would be a good idea if AbstractNamedBean.register() would give some notification that the new bean cannot be registed in the manager d

[2019-03-27 03:11] bobjacobsen commented on #6728
This came up recently:  https://jmri-developers.groups.io/g/jmri/message/736

I think it's fine to throw the exception; I'd prefer that it also log.error as this is a pretty severe error in the code.

[2019-03-27 08:41] danielb987 commented on #6728
#6729 tries to fix this. But there are errors that I'm not sure on how to fix.

[2019-03-27 13:15] rhwood commented on #6728
However, it is not fine to throw an exception if registering the same NamedBean twice; we already allow that and test for that situation and there is no valid reason not to continue to allow that (the same way HashSets allow the same object to be added twice without changing the set the second time without error).

[2019-03-28 09:57] rhwood opened #6735 "JSON services should not automatically register to listen to every listed object"
A third party developing a resource constrained system has requested, in offline discussion, that the JSON services not automagically create listeners for objects the client has not expressed interest in because it can overwhelm the constrained device on a large layout.

[2019-03-28 15:34] Paul-T opened #6737 "Repetition of signal sections in Layout Editor .xml"
I am developing my panel for eventual automation;  so far the file is around 7500 lines, as seen in Notepad++

Ever since I added working Signal Heads I have a frequent error on reload after other minor modifications which were done in the GUI and saved.

Typically the error is:
Parse error  bla bla at line 2000 duplicate signal head MH2  bla bla.
On examining the  .xml, I find not only Sig 2 dupl

[2019-03-28 16:42] bobjacobsen commented on #6737
Could you attach a copy of the file with the duplicates please? You might need to add a .txt to the name

[2019-03-28 18:39] devel-bobm commented on #6688
@bobjacobsen,

I have confirmed that this solution does not work in-system.  I find that any character generated by some other LocoNet device seems to get thru in a timely fashion, but any TX character from JMRI seems to be delayed by the "ReceiverTimeout" delay.

As such, any approach which increases the timeout beyond `serialPort.enableReceiveTimeout(10)` is likely to be unacceptable.  I am clos

[2019-03-28 18:39] #6688 closed

[2019-03-29 00:34] kestrelmc opened #6739 "New decoder Definition"
Could someone please supply decoder definition for ESU LokSound v5.00
Thank you
Terry

[2019-03-29 01:24] dheap commented on #6739
This is in-hand but it is not a small job. The number of CVs has _more than doubled_ from the V4 series, many existing CV numbers have been changed, new features have been made added and the special Java code required to create and display the ESU Function Map will require significant rewriting.

I will make it available as soon as possible, but it certainly won't be in the next test release. The

[2019-03-29 02:52] kestrelmc commented on #6739
Thanks Dave

I look forward to it thank you.

I have an Auscision Paybus with NO DOCUMENTATION as well an Auscision 442 that has minimum documentation that does not easily lend itself to alteration that both have v5 decoders in them.

Terry

From: Dave Heap [mailto:notifications@github.com]
Sent: Friday, March 29, 2019 12:24 PM
To: JMRI/JMRI
Cc: kestrelmc; Mention
Subject: Re: [JMRI/JMRI] New deco

[2019-03-29 03:54] danielb987 opened #6741 "Adding a multi IO device"
For background, see the device discussed in https://github.com/JMRI/JMRI/issues/6238#issuecomment-444668260 and forward.

I'm thinking of creating an Arduino project where the Arduino is connected to LocoNet and has some digital I/O, some analog I/O and some string I/O. For example, a couple of ADC-converters and a text display.

In JMRI, I'm thinking of creating the interface `jmri.MultiIOCard` a

[2019-03-29 04:48] kestrelmc commented on #6739
Dave

If it is of any help I can test it models I have with v5 decoders.

Terry

From: Dave Heap [mailto:notifications@github.com]
Sent: Friday, March 29, 2019 12:24 PM
To: JMRI/JMRI
Cc: kestrelmc; Mention
Subject: Re: [JMRI/JMRI] New decoder Definition (#6739)

@kestrelmc <https://github.com/kestrelmc>  Could someone please supply decoder definition for ESU LokSound v5.00

This is in-hand but it

[2019-03-29 04:50] bobjacobsen commented on #6741
Sounds like a very neat capability!

But there's one thing I don't understand:

What's the value in having `MultiIOCard` be a `NamedBean` etc?

Our usual approach is to manage that kind of thing via data stored in the preferences file and maintained via preferences-type panes.  C.f. the C/MRI setup.  Since the configuration of the board is a very basic thing, that ensures that it doesn't change du

[2019-03-29 06:53] Paul-T commented on #6737
Here is a sample file with the fault
[Pseudo Dartmouth_Mk45.xml.txt](https://github.com/JMRI/JMRI/files/3021436/Pseudo.Dartmouth_Mk45.xml.txt)

[2019-03-29 07:12] danielb987 commented on #6741
Are you suggesting configuring MultiIOCards the same way as LocoNet LocoIO devices (menu choice LocoNet / Configure LocoIO (Legacy)) ?

If I have one LocoIO card on the layout, that works just fine. But if I have three, four och five LocoIO cards, I start to get into trouble since they only have addresses, not names. As soon as I have several of the same card on the layout, I want to give the devi

[2019-03-29 16:25] bobjacobsen commented on #6737
Exactly what error do you see with that file?  I don't see any "MH2" references in it, and only one occurrence of "Sig 2".  (I don't have a similar enough configuration to load the file and see that way)

[2019-03-29 17:38] bobjacobsen commented on #6737
Was able to cobble something together and find that 'Sig2 T&amp;DR Up Distant' is duplicated.

The '&amp' is HTML coding for '&'.  Not entirely sure why that's happening, but it might be related.

Do you ever see other signal logic duplicated?  I.e. see some that don't have a '&' in them?

[2019-03-29 17:49] Paul-T commented on #6737
_Do you ever see other signal logic duplicated? I.e. see some that don't have a '&' in them?_

I had only recently started adding Signal logic in that file so it is incomplete. I have not looked for logic duplicates. When the signal elements duplication is removed, the file loads to JMRI without parse errors

[2019-03-29 23:27] mesheets opened #6744 "Line Separator Character Handling Problems in Mixed OS JMRI Setups"
In a JMRI setup with multiple devices running a mix of operating systems, it appears some problems arise when software running on one OS platform attempts to communicate with software running on another OS platform.

For example, in [java/src/jmri/jmrit/withrottle/DeviceServer.java line 110](https://github.com/JMRI/JMRI/blob/e3bf93e81312917a29144c3b10911c73bbd75e77/java/src/jmri/jmrit/withrottle/D

[2019-03-30 01:02] danielb987 commented on #6741
@bobjacobsen
I apologize. I haven't worked with C/MRI or any other system except LocoNet so I wasn't aware of what you where talking about. But I will look into C/MRI and its configuration. It may work fine for me.

[2019-03-30 01:35] BHoffman351 commented on #6744
It should already behave that way. DeviceServer does not mandate a specific line termination but uses readLine() to handle the incoming packets.
From BufferedReader.readLine():
Reads a line of text. A line is considered to be terminated by any one of a line feed ('\n'), a carriage return ('\r'), or a carriage return followed immediately by a linefeed.

Regards,
Brett

[2019-03-30 01:50] mesheets commented on #6744
That's what I would expect, and that is what the [documentation](http://www.jmri.org/help/en/package/jmri/jmrit/withrottle/Protocol.shtml) would also seem to indicate:

and

However, use “System.getProperty("line.separator")” noted above at the link to the source code seems to indicate that the system will behave differently depending on the platform on which it is running.

Additionally (and as c

[2019-03-30 02:21] BHoffman351 commented on #6744
That separator is only appended onto packets being sent from JMRI to another device. It is not used to identify incoming message separation points.

That line separator has been in use since the inception of the WiThrottle protocol. It has not been an issue with Linux systems in the past and appears to behave properly on the Pi-Sprog. Unless some method behavior has changed, JMRI sends the system-

[2019-03-30 02:28] danielb987 commented on #6744
@mesheets

What device is you using to communicate with JMRI and which software on this device? WiThrottle is on iPhone and EngineDriver is on Andriod, unless any of them has been ported to Windows.

[2019-03-30 02:32] danielb987 commented on #6744
Sorry, I found it.
https://www.microsoft.com/en-us/p/train-throttle/9nblggh4vf5j

[2019-03-30 02:34] mesheets commented on #6744
From the "[Installing JMRI on Raspbian](http://jmri.org/install/Raspbian.shtml)" install doc page, I am working with the [M Steve Todd image](https://mstevetodd.com/rpi) and using that as the JMRI+WiThrottle server.

As linked on the default port "12080" website, I am using the "[Train Throttle](https://www.microsoft.com/store/apps/9NBLGGH4VF5J)" app, which is available for Windows.

[2019-03-30 02:50] mesheets commented on #6744
@BHoffman351

The documentation notes the following regarding responses from JMRI:

Should client or embedded devices connected to JMRI be setup to handle potential protocol ambiguity depending on which platform the JMRI is running?  From the documentation, my impression based on the context (including the preceding sentence noting that a newline character is “0A hex”) is that JMRI should only be

[2019-03-30 04:11] danielb987 commented on #6728
#6729 is merged so closing this.

[2019-03-30 04:11] #6728 closed

[2019-03-30 14:52] bobjacobsen commented on #6737
Thanks.  I've found one thing that can cause this and the fix for that is in PR #6745, will be in the next test release and next (number 3224 or later) development build here: http://jmri.tagadab.com/jenkins/job/Development/job/Packages/  But that might not be the only thing, so I'd appreciate you keeping an eye out.

[2019-03-30 15:49] Paul-T commented on #6737
On 30/03/2019 14:52, Bob Jacobsen wrote:

Thanks Bob.

Downloaded 3224 and will test over next few days.

I have many mods to do, including signal masts and SML so that will give
it a thrashing.

--
Paul

[2019-03-30 15:50] bobjacobsen commented on #6741
No apology necessary!  Thanks for thinking about this.  Sounds like a good capability.

There are a couple of different ways to configure things like this within JMRI, and each has advantages and disadvantages.  Preferences main advantage is that they’re in place _early_; you’re guaranteed that they’re set up with the connection and therefore before panel files or scripts can try to reference (or

[2019-03-30 17:53] bobjacobsen opened #6750 "GitHub reporting a security issue with"
See Issue #6613 and PR #6614 for background.

Looks like https://github.com/patternfly/angular-patternfly/issues/769 has been resolved.  Could somebody who a nom-compatible Linux please try the steps recommended by @rhwood in #6614? Thanks in advance.

The [current security warning](https://github.com/JMRI/JMRI/network/alert/web/app/package-lock.json/bootstrap/open) (link might not work for some p

[2019-03-30 17:55] bobjacobsen commented on #6578
@gbglacier Is this still happening in current development builds?  There's been some work in this area.

[2019-03-30 17:55] bobjacobsen commented on #6582
Is this still happening in current development builds?  There's been some work in this area.

[2019-03-30 18:25] #5020 closed

[2019-03-30 19:36] rhwood commented on #6750
Only owners and admins see the alerts by default. See https://help.github.com/en/articles/managing-alerts-for-vulnerable-dependencies-in-your-organizations-repositories

[2019-03-30 19:36] MARCFOUR commented on #6582
4.15.5 does not display the " deleting second connection " error.

What I have noticed, and in this dev release also, is the 2 connections ending up on the same device. I have some examples of changing  the system connections ( Ex: invert Loconet1 and Loconet2) and the end result is the "Edit Connections" window popping up and both connections end up on same device.  I get around this by first del

[2019-03-31 06:45] tom1971 commented on #6636
I have the same thing happing to me, went back to JMRI.4.12+Rb6a9bb1 and it works

[2019-03-31 20:33] pabender commented on #6741
I think you may be looking at the wrong model for configuration.

Instead of looking at LocoIO devices, look at how the rr-circuits switch-man and other similar devices are configured.  This uses a programmer and stores the configuration like you would store configuration of any roster entry.

Alternately, look at how OpenLCB node configuration is stored in the node itself as XML data.

Where I am

[2019-03-31 23:34] oscarmoutinho commented on #6001
It seams it happens only in microsoft browsers.
I don't have access to the source code to fix it.
Anyone available to fix it in webThrotle.js ?
encodeURI -> encodeURIComponent (the only 2 occurrences).

[2019-04-01 06:15] bobjacobsen commented on #6001
@oscarmoutinho Thank you for tracking that down.  I'll make the change, but will have to ask somebody else to test it.

[2019-04-01 06:18] bobjacobsen commented on #6001
PR #6761 has the change.

[2019-04-01 13:33] mstevetodd commented on #6001
@oscarmoutinho your change only affects links _inside_ of webThrottle.js, correct?

There is another issue with 2 links from the /roster servlet. This code is here:
https://github.com/JMRI/JMRI/blob/master/java/src/jmri/web/servlet/roster/RosterServlet.java#L555

[2019-04-01 14:28] mstevetodd commented on #6001
Changing line 2152 of webThrottle.js from
`vars[key] = decodeURIComponent(hash[1]);`
to
`vars[key] = decodeURIComponent(hash[1]).replace("+"," ");`
makes it work, but there may be better solutions.

[2019-04-01 14:49] oscarmoutinho commented on #6001
Yes Steve

A segunda, 1 de abr de 2019, 14:33, mstevetodd <notifications@github.com>
escreveu:

[2019-04-01 15:02] oscarmoutinho commented on #6001
There is more then 2 years that I didn't touch this code :)

Maybe I rebuild all later (with SSE HTTP/2).

A segunda, 1 de abr de 2019, 15:28, mstevetodd <notifications@github.com>
escreveu:

[2019-04-01 15:29] mstevetodd commented on #6001
@bobjacobsen can you add the change above to your PR?

[2019-04-01 15:41] rhwood commented on #6001
Does the change above merely change the broken character from “ “ (a space) to “+” (a plus sign)?

[2019-04-01 17:50] oscarmoutinho commented on #6001
I found that some browsers encode space to %20 and others encode space to +
All decode %xx to the correct character.
With this change, the + is converted to the proper %2B code so the decode
will work fine.

Before change:
- Encode:
'test+a b' -> some browsers: 'test+a%20b' other browsers: 'test+a+b'
- Decode:
'test+a%20b' -> 'test+a b' (OK)
'test+a+b' -> 'test+a+b' (wrong)

After change:
- Encode

[2019-04-02 05:10] bobjacobsen commented on #6001
[code]

The only occurrence of the "from" string I see is on 2192.  Is that right?

[2019-04-02 05:55] gbglacier commented on #6578
Hi Bob,
Yes, I just reconfirmed this, I cannot change any default setting for a DCC++ configuration under JMRI.4.15.4+R0d44598 but can under JMRI.4.12+Rb6a9bb1.
'Hope this helps. Best regards, Geoff

[2019-04-02 10:35] oscarmoutinho commented on #6001
I propose not to change decodeURIEncode lines.
Just encodeURI -> encodeURIComponent at lines 1738 and 1904.
This way, ' ' and '+' will be encoded to %20 and %2B accordingly, so the
decode will always work.

Bob Jacobsen <notifications@github.com> escreveu no dia terça, 2/04/2019
à(s) 06:10:

[2019-04-02 16:01] mstevetodd commented on #6001
@bobjacobsen my apologies, I was indeed referring to 2192.

But, per @oscarmoutinho request, please ignore my addition and merge your current PR as is. I will test it and create a new PR as needed.

[2019-04-03 04:36] mesheets commented on #6744
Another console log from JMRI on Linux, with WiThrottle "debug"-level turned on ("log4j.category.jmri.jmrit.withrottle=DEBUG" as per [here](http://www.jmri.org/help/en/package/jmri/jmrit/withrottle/Protocol.shtml)), though it doesn't seem to reveal much more than the log file posted earlier:
  - [jmri-SystemConsole-Debug.log](https://github.com/JMRI/JMRI/files/3036852/jmri-SystemConsole-Debug.log)

[2019-04-03 08:03] sidlo64 opened #6765 "Web Server - MultiSensor - not change state / icon - 4.15.4"
MultiSensor works normally in Panel Editor.
In Web Server panels the same sensor not change state / icon.
All other icons - turnouts, sensors, signal masts - are OK.
Affected version 4.15.4 and next.
Production version 4.14 is OK.

[2019-04-03 08:16] rhwood commented on #6765
This is a duplicate of #6723

[2019-04-03 12:06] BHoffman351 commented on #6744
That is correct.

Yes.
Not ambiguity, but clients should handle any variety of newline - \n, \r, or \r\n. "Newline" can refer to "line feed", "carriage return", or a combination such as "carriage return - newline".

JMRI is sending the system specific newline.  This has worked fine since November of 2009. You quoted the document as:

This states that "\r\n" is valid.

Both Engine Driver and WiThro

[2019-04-03 12:57] pabender commented on #6744
Something that was drilled into my head when I was first learning networking was this principle:
“Be liberal in what you accept,  but conservative in what you send out.”

What that means on this particular case is that JMRI really should be accepting any variation of end of line that may be sent to it, but it should only send out ‘\n’ if the documentation says ( as was quoted earlier) “lines sent

[2019-04-03 13:17] mesheets commented on #6744
@BHoffman351

That part of the documentation refers to throttle clients connecting to JMRI, _not_ to JMRI+WiThrottle server itself.  Thus, per the documentation, a "\r\n" from the JMRI+WiThrottle server should _not_ be sent.

The following the part of the documentation that refers to JMRI+WiThrottle server:

In turn, a "newline" is defined by the sentence that immediately precedes the above quote

[2019-04-03 13:29] icklesteve commented on #6744
This is purely for UI, feeding back a String to a JTextArea, with no effect on the CAN frame sent,
Steve.

[2019-04-03 15:15] BHoffman351 commented on #6744
The documentation was written by an outside source.  I am attempting to clarify that currently.

We seem to be having a drawn-out argument over semantics.  What is it you are looking to have happen?  WiThrottle and Engine Driver are extensively tested with JMRI on Windows, Mac, and Linux.  They are also tested against the LNWI and MRC Prodigy WiFi.  It sounds like you are having an issue with some

[2019-04-03 16:32] pabender commented on #6744
Sent from my iPhone

If we are arguing over semantics, then that means the documents are ambiguous.  The goal is to make the documentation of the protocol as unambiguous as possible so that others get the clearest picture possible so they can implement their own client or server.

The best approach is typically to be as specific as possible in the documentation.  In this case, state the specific l

[2019-04-03 16:38] bobjacobsen commented on #6673
Looking at the calendar and my internet access, it seems the best day to build JMRI 4.15.5 will be Friday April 12.  Please let me know if that doesn't work for you.

[2019-04-03 17:41] danielb987 commented on #6744
@pabender
I agree on what you are saying. But if JMRI changes the output to only use \n and the clients starts to assume that, then that may cause problems with other Withrottle servers that are using another line ending.

Since different line endings has been used a long time, it seems better to change the documentation to say that all three line endings must be accepted by the client.

[2019-04-03 18:19] pabender commented on #6744
And that is the second part of the philosophical statement on this, ”be liberal in what you accept”.

The point being you should take the strictest interpretation when you send data out, but the most liberal when you take data in.  In other words, change the code in JMRI so the operating system doesn’t impact the exact character sequence we send, but leave in lace the code that interprets any

We

[2019-04-03 19:08] mstevetodd commented on #6001
#6761 addresses the links inside of the webThrottle client, but links from /roster still have the "+" in them.
I've created #6767 to replace the '+' characters in the query string with a space.

[2019-04-03 21:25] bobjacobsen commented on #6744
This Issue isn't about documentation.  It's about "Line Separator Character Handling Problems in Mixed OS JMRI Setups"   So far, we haven't actually established what those "Problems" are.

So let's go back to what matters here:  @Mesheets You've pointed to "Windows" devices trying to connect as an issue.  What Windows devices?  Running what code?

[2019-04-03 21:34] danielb987 commented on #6744
The answer is here:
https://github.com/JMRI/JMRI/issues/6744#issuecomment-478198483

[2019-04-04 00:10] BHoffman351 commented on #6744
It appears that the real issue is that the Train Throttle app does not accept variations on the newline (end of line) sequence.  It only accepts \r\n as valid.  Running JMRI on a Windows system will send a newline sequence of \r\n which will work in the Train Throttle app.  Running JMRI on a *nix system, the newline is sent as \n which is not being recognized by the Train Throttle app.  If we chan

[2019-04-04 00:33] pabender commented on #6744
@BHoffman351

My real point is that JMRI needs to be consistent in what is sent regardless of operating system.

If we change the JMRI server implementation so that it uses `\r\n` That makes the TrainThrottle app work everywhere doesn’t it?

`\r\n` Is certainly used by other protocols, such as http, for end of line delimiters, so that works as far as I am concerned.

[2019-04-04 01:16] BHoffman351 commented on #6744
How do we know that Windows-only hosted server was not the intended function of Train Throttle?

[2019-04-04 01:33] bobjacobsen commented on #6744
Nobody knows how many other client implementations out there are just looking for \n. They would break if JMRI on their Linux or macOS hosts changed.

I think we should document that JMRI can send any sequence and that clients need to accept that, then move the onus over to the client programs.

Given the installed base, I wouldn’t change what it’s sending now.

[2019-04-04 01:39] pabender commented on #6744
Sent from my iPhone

How does that even matter?

It very well could be the developer never bothered to test the functionality with a non-windows server, so it was an oversight and not intentional.

The simple fact is we have users who want to use Train Throttle with a non-windows server, and our being inconsistent based on the operating system prevents that.  Regardless of choices some other devel

[2019-04-04 01:42] bobjacobsen commented on #6744
Do you have a way to do that at this point without risking breaking others?

[2019-04-04 02:16] pabender commented on #6744
Is there an absolutely foolproof way to ensure we don’t break anything, no, but the situation we have now is untenable.

The current situation is that JMRI implements the reference implementation of the Withrottle Server and that reference implementation produces different results based on what environment it is running in.

Any way we look at this, there are going to be future compatibility issue

[2019-04-04 02:16] BHoffman351 commented on #6744
Because if it was, then you are trying to fix something that the developer does not consider a problem.

Likely, yes.

No we don’t.  If any of the documentation was followed, the newline the Train Throttle app appears to be looking for would not have been the \r\n.  The argument was made that the documentation leads to the use of \n.  JMRI should not be changed.  How do you propose changing the MR

[2019-04-04 02:17] mesheets commented on #6744
The only known obstacle to using Train Throttle with any JMRI instance running on any platform was the unknown difference that JMRI behaved differently depending on which platform it was running.  If behavior differs depending on the platform, then testing becomes a more complex proposition, as it now needs to be tested against multiple platforms.

For commercial endeavors, such testing becomes pa

[2019-04-04 02:18] BHoffman351 commented on #6744
Spoken by the person who does not have to provide the support.

[2019-04-04 02:23] pabender commented on #6744
I provide support for this as well.

There is risk either way.  The risk is just different if we make a choice vs not making a choice.

[2019-04-04 02:25] mesheets commented on #6744
For either a commercial or hobbyist developer, if moving forward there is a need to regression against multiple platforms instead of just a single, standard server instance, I would assign a greater cost/pain to the variable behavior.

[2019-04-04 02:30] bobjacobsen commented on #6744
No situation that has existed for years and many, many uses is made untenable by the introduction of a new, uncoordinated actor.  Your rhetoric should be better than that.

It's true that JMRI produces different results.  And the LnWi does something specific.  And other implementations probably do other things.

There isn't a single reference implementation of a server for this protocol any more,

[2019-04-04 02:34] bobjacobsen commented on #6744
Why would you do that? Seriously, why do you feel the need to check a `c == '\n' || c == '\r'` against actual hardware?

We're well into hypothetical spin-up mode on this one.  This stuff works, it works well, and we just need to
1. update the docs and
2. figure out who the Train Throttle developer is and let him know to check for another character.

Not hard. Nothing else breaks.

[2019-04-04 02:41] mesheets commented on #6744
The platform difference has been missed already, hence this thread.  With the line termination sequence coupled to the platform, it a matter of test coverage best practices and not assuming anything.

[2019-04-04 02:48] bobjacobsen commented on #6744
Perhaps I misunderstood the point about "_regression_ testing".

You certainly don't need hardware to regression test the input to a parsing routine.

Do you know how to contact the Train Throttle author?

[2019-04-04 02:57] pabender commented on #6744
And my real argument is that JMRI should make a choice, and it doesn’t matter to me which choice we make in JMRI.

Agreed, and the protocol can continue to specify different choices for line endings, which maintains compatibility with other server implementations.

Likely not many because we are only talking about making JMRI consistent accross operating systems.  The largest client base is WiThro

[2019-04-04 02:58] mesheets commented on #6744
Yes, there is contact information posted in the app's page in the Microsoft Store.  I am not the author, but I can certainly handle reaching out to the author.

[2019-04-04 03:11] KenC57 commented on #6744
When anyone mentions "those compatibility issues eventually go away", you
have to remember our users. Model railroaders are some of the worst at
insisting on using something until the day it dies, or longer. So this makes
the idea of "eventually" be a very, very, long time in much likelihood. Tie
in the other implementations out there, in hardware, that would support the
idea of "eventually" being

[2019-04-04 12:44] mesheets commented on #6744
Given the understandable sensitivity to maintaining compatibility with existing/legacy apps and devices, might it be worthwhile to consider the following:

**Synopsis**: Create a WiThrottle server "advanced" option that would allow the user to specify the line ending character used by the system.

**Modification Description**: Since DeviceServer.java (as linked in the initial post) already perform

[2019-04-04 15:56] mstevetodd commented on #6001
I've merged #6767 and verified webThrottle now handles the links from /roster which contain spaces. This change is available in the latest Jenkins build from here: http://jmri.tagadab.com/jenkins/job/Development/job/Packages/
@DrCodeWizzard please give it a try and close this issue if it works properly for you.

[2019-04-04 18:50] bobjacobsen commented on #6744
Unnecessary configuration items have a cost. Each time somebody has a connection problem on the JMRI users list, we’ll have to go through whether this option is set right. That’s a poor user experience and a waste of time. And it doesn’t fix the earlier issues raised: it still requires design work because vendors will want their products to work robustly despite the setting; whatever the test conc

[2019-04-04 19:58] Pugwash1 commented on #6744
I am very confused.
The Train Throttle app v1.11 beta running on wjndows 10 works fine against a pi. Linux, 4.14.98,  Jmri server 4.15.5ish 2019-04-02 AM.
 It starts, auto configures, downloads the roster, select the loco. Drive the train. Backwards, forwards, functions etc.
No problemo.

[2019-04-04 21:03] mesheets commented on #6744
@bobjacobsen Understand completely regarding the configuration pit, which is why I didn't mention it earlier; however, based on the discussion yesterday, and as there seemed to be _much_ concern about potentially breaking known existing devices, it was merely a suggestion if there was perchance a similar level of concern about platform lock-in when using these unknown legacy devices that might onl

[2019-04-04 22:24] Pugwash1 commented on #6744
@mesheets
You do have a roster with at least one valid entry, cause that app don't like empty rosters, it spits out warnings about readline from device.

[2019-04-04 23:24] Pugwash1 commented on #6744
@mesheets  In 4.14 it works fine, providing you have at least one entry in the roster.

[2019-04-04 23:53] mesheets commented on #6744
@Pugwash1 Thank you much for that lead.  On Windows, though, I neither had nor have any roster entries, either.

On Windows, the roster-config section in roster.xml for the active profile is the following:
`<roster-config...>
  <roster />
</roster-config>`.  If I open DecoderPro: All Entries, or if I navigate to File > Print Preview Roster > List, there are no roster entries listed in either place

[2019-04-05 01:11] Pugwash1 commented on #6744
I am not sure., but an empty roster, created by adding and deleting the entry, gave an error.

[2019-04-05 15:04] rhwood commented on #6765
This is a duplicate of #6723

[2019-04-05 20:43] bobjacobsen opened #6775 "How should DCC Signal Heads be initialized?"
DccSignalHead (hence DSH) objects hold a mapping of an integer value, used as the number to send over DCC to command changes, and an appearance name:  Dark, Red, etc.  By default, the zero value is associated with Dark.

Right now, DSH objects start up with appearance value at zero. i.e. usually dark.

They don't send anything to the layout  at start up. This is intentional:  There was concern abo

[2019-04-06 02:34] rhwood commented on #6775
Another solution is to store state outside the panel file itself (possibly in a cache file (we already have a class for caches, but I can't look it up right now)) and set the DSH to the state in the cache file. The cache file could be written to nearly constantly without affecting panel file contents.

[2019-04-06 17:22] mesheets commented on #6744
In taking a deeper look at the issue, it appears the difference is whether or not WiThrottle sends the "Initial Connection" information documented on the [WiThrottle protocol page](http://www.jmri.org/help/en/package/jmri/jmrit/withrottle/Protocol.shtml).

For the sake of comparison, all tests noted here were with JMRI+WiThrottle server running on Raspbian.

Off the top, I will grant that the docu

[2019-04-06 20:38] Pugwash1 commented on #6744
@mesheets
Have you tried adding an entry to the roster. I know it doesnt work without at least one valid entry.

[2019-04-07 00:22] mesheets commented on #6744
It seems to appear at least for the moment, that in the situation I was describing, the presence or absence of a "entryless" roster.xml file might have been a red herring.

Every once in a while, with the JMRI Raspbian image running on a Raspberry Pi 3B+, WiThrottle doesn't always detect the ethernet interface when PanelPro is automatically launched on upon bootup.  In those situation, I simply do

[2019-04-07 00:22] BHoffman351 commented on #6744
Perhaps it is time to close this issue.  We are 47 comments into chasing the wrong problem.  The real cause of the issue would be more appropriately discussed with the developer of the Train Throttle app.

It is correct that information may not be sent.  As an example, the earliest versions of the WiThrottle Server did not access the roster at all and therefore nothing was sent.  An app also needs

[2019-04-07 00:23] mesheets commented on #6744
I just had another post 1 second before you....

[2019-04-07 06:14] mesheets commented on #6744
Communication initialization comparisons when _not_ resetting the WiThrottle server

**Communication initialization flow with JMRI on Linux _without_ a roster.xml file** (with Wireshark frame number):
4. Client:  `NMyDeviceName`  (sets the device name)
5. Server:  ACK
6. Server: `VN2.0`  (WiThrottle protocol version)
7. Client:  ACK
8. Server:  `RL0`  (There are zero entries in the roster list)
9.

[2019-04-08 03:12] pabender commented on #6775
I would lean towards either 4 or 2.

There are three reasons I lean towards 2.
1) 2 really includes 4, it just makes the initial state visible to users.
2) Unknown is a common named bean state, so users are familiar with what it means already
3) Unless there is feedback telling us what the current state is, we really don't know what the state is on the layout, so showing something other than unkno

[2019-04-08 03:18] dheap commented on #6775
I'd lean towards 2.

[2019-04-08 16:39] Hansschaap2 commented on #6469
Hello All and especially Egbert,
I've tried to change the function buttons and change the  sounds settings. It didn't work and afterall in JMRI the loco on the programmer track  just gave the 301 message. So I contacted the dutch importer and he is sending the loco back to Piko for a reset. As a service he also wanted a list of which button needed to steer which sound. He also mentioned that he wi

[2019-04-10 13:20] bobjacobsen commented on #6673
My travel plans have changed, and I'm no longer going to have the access necessary to build JMRI 4.15.5 on Friday.  Things are a bit uncertain, but I think the following Wednesday (April 17) will be the first opportunity.  More to follow.  I'm sorry for the uncertainty.

[2019-04-12 10:35] rhwood commented on #6750
Did #6774 resolve this?

[2019-04-14 20:09] ohojvat opened #6794 "Accessory from 1 to 2044 with XpressNet"
As stated in V3.0 and 3.6 the range for accssory address is from 1 to 1023

As accesory range in NMRA is 1 to 2044 , and we (LDHtrenes) make the command station and the hand-held unit, I add a bit in the message to the command station for the full 9 bits addressing.
from Expressnet 3.0 in Engllsh
2.2.18 Accessory Decoder operation request
Header byte | Data Byte 1 |  Data Byte 2
          0x52  |

[2019-04-14 21:21] pabender commented on #6794
Is there a way we can differentiate your command station from a Lenz command station?

Does your command station have a built in computer interface, or are you using one of the existing XpressNet interfaces?

The problem is not really can JMRI do this, but what does a Lenz command station do with it.  Since we automatically identify connected XpressNet command stations at start up, I really need y

[2019-04-15 01:02] KenC57 opened #6795 "Switchboard not using saved connection data"
It seems the switchboard is not using the saved connection when you open the panel file again. So it flips back to Internal. Here is the users file. It shows "N" for the nce connection but builds the switchboard on opening as Internal. I was using 4.14.5 to validate what they saw.
-ken c
[nce turn outs.xml.txt](https://github.com/JMRI/JMRI/files/3078065/nce.turn.outs.xml.txt)

[2019-04-15 01:36] bobjacobsen commented on #6795
Works for me. Are you testing with an “N” connection?

[2019-04-15 02:25] KenC57 commented on #6795
Using NCE simulator, set for N. When the panel is displayed, it all shows
the IT* values instead of the NT*.
Bob, were you on 4.14.4 or newer?
-ken c

[2019-04-15 04:36] ohojvat commented on #6794
Thank you for your reply.

We are making a PC serial interfase similar to LI100 and can do some modifications.

I will check the information at the serial (rs232) PC port at starting
Also when accesory order was sent. with address  below and over 1034.

I will inform you soon

Best regards, Osvaldo Hojvat

-------------------------------------

We had some email contact at august 2018 about Access

[2019-04-15 07:39] tualatin commented on #6739
It is very useful, when you add support for Piko SmartDecoder, thank you!

[2019-04-15 16:28] silverailscolo commented on #6739
@tualatin asking about a new Piko decoder has nothing to do with this issue on ESU LokSound (which is also just a request). Better join issue #6469. You could offer to assist in testing the definition that I might adapt from similar Piko decoder models, since you own one, I guess.

[2019-04-15 16:31] rhwood opened #6796 "Travis CI Updates"
This is just a note that the OS for Travis CI will be changing (should the change have an impact on tests) and they request we make a change in our .travis.yml file when it happens. See https://blog.travis-ci.com/2019-04-15-xenial-default-build-environment for the details.

[2019-04-15 22:49] rhwood opened #6797 "Why should I care if a turnout (or other NamedBean) is in a table?"
In an empty profile (the connection is type "None"), I just created and attempted to delete a Turnout from the Turnout table. Why did I get this message?

<img width="384" alt="Screen Shot 2019-04-15 at 18 26 52" src="https://user-images.githubusercontent.com/297232/56169591-a3e1ab00-5fac-11e9-961d-e50ac78b823e.png">

I understand in general why this message is desirable (a panel or other NamedBea

[2019-04-16 03:02] ohojvat commented on #6794
Hello Paul

Our system was adjusted to reply messages similar to LENZ for JMRI compatibility.

We can modify messages as needed.
Request Command station version  ->   our reply  63 21 38 00 7A
we change recently from   3.6 to 3.8 software version
00 for command station model can be modifyed to a number that Lenz may never use

-----------------------------------------------------------
 
For PC in

[2019-04-16 05:43] silverailscolo commented on #6795
Will check the code. The connection (prefix) is indeed read from the xml, seems too late in the process while switches are already being created.

[2019-04-16 12:33] pabender commented on #6795
Sent from my iPad

The panel file(s) should be loading after the connections are all established.  If they are not, then there is an ordering problem in the initial configuration.

[2019-04-16 13:56] bobjacobsen commented on #6673
Confirming plan to build 4.15.5 tomorrow (Wednesday April 17) evening.

[2019-04-16 15:24] Hansschaap2 commented on #6469
Egbert I finally got an answer from piko about the questions you asked them
Ich habe eine Frage betrifft die Sound Variablen CV 900-931.
Die Zugang mit Hilfe von CV 1021 ist (in DecoderPro) kein Problem. Aber die gültige Werte jedes CVs sind im ausgebreiteten Datenblatt nicht abgedruckt, z.B.
905.2 (Bank 2, Minimale Zufallszeit) -> **ab welcher Mindestzeit ein Zufallsgeräusch abgespielt werden sol

[2019-04-16 16:04] KenC57 commented on #6795
I was manually load the panel file. I used NCE Simulator. Original user was
on a SB5.
-ken c

[2019-04-16 20:24] silverailscolo commented on #5226
The first 5 ports for LocoIO (versions 1.35 - 1.54), LocoBooster (v003-004) and LocoServo (v101-106) are now available in JMRI since PR #6768. Opcode1/2 and special options (port 1-4) were added in PR #6776.

[2019-04-16 20:24] #5226 closed

[2019-04-16 20:34] silverailscolo commented on #6469
Thanks, Hans.
I will have to go back and look at the meaning of these answers, but at first glance this response from the manufacturer Piko looks really helpful to complete this decoder definition.

[2019-04-17 18:51] greenwizard88 commented on #6744
I'm the developer of Train Throttle.

I'm sending data via
`streamWriter.WriteLineAsync("STRING_TO_SEND");`
`streamWriter.FlushAsync();`

And listening via
`string response = await streamReader.ReadLineAsync();`
`if (String.IsNullOrWhiteSpace(response) == false) {`
`    parse(response);`
`}`

The `ReadLineAsync()` documentation doesn't say much, but the documentation for `ReadLine()` says that `\r

[2019-04-18 12:44] #6723 closed

[2019-04-18 12:44] #6735 closed

[2019-04-18 12:44] #6765 closed

[2019-04-18 12:44] #5642 closed

[2019-04-18 12:55] bobjacobsen commented on #6673
Started on 4.15.5, having some infrastructure issues.  Will create branch in next few hours.

[2019-04-18 16:06] bobjacobsen commented on #6673
The release-4.15.5 branch has been created.

Maintainers, please set the 4.15.6 milestone on pulls from now on, as that will be the next test release from the HEAD of the master branch.

Jenkins will be creating files shortly at the [CI server](http://builds.jmri.org/jenkins/job/TestReleases/job/4.15.5/)

[2019-04-18 21:34] wimorrison opened #6809 "OpenJDK and JMRI"

[2019-04-18 21:37] wimorrison commented on #6809
I want to run JMRI using OpenJDK but when I install it from https://adoptopenjdk.net/ and uninstall Java 8 JMRI will not sun saying that it cannot find Java, yet other Java programs run happily without Java 8. Event trying to run the jmri.jar file fails

Haw can I amke JMRI run under OpenJDK to allow me and others to move away from Oracle and their demands?

[2019-04-18 21:48] bobjacobsen commented on #6809
We routinely test JMRI itself against OpenJDK, so this sounds like a launcher issue.

What OS are you using? What does `java -version` on the command line do?

[2019-04-18 22:32] wimorrison commented on #6809
I am using Windows 10 Build 1809 and the information is

openjdk 12 2019-03-19
OpenJDK Runtime Environment AdoptOpenJDK (build 12+33)
Eclipse OpenJ9 VM AdoptOpenJDK (build openj9-0.13.0, JRE 12 Windows 10 amd64-64-Bit Compressed References 20190320_32 (JIT enabled, AOT enabled)
OpenJ9   - caeb51f87
OMR      - 33a33ff2
JCL      - 419f571019 based on jdk-12+33)

does this help?

[2019-04-18 23:20] devel-bobm commented on #6809
If you are running any JMRI version before JMRI 14.5.4, there may be issues with the JMRI launcher for Windows, depending on which OpenJDK version you are running.

Pull request #6652 addressed the issues seen at that time, and those fixes are in the JMRI 14.5.4 test release.

[2019-04-18 23:22] devel-bobm commented on #6809
Correction: 4.15.4 is the version which has the OpenJDK fixes.

[2019-04-18 23:32] bobjacobsen commented on #6673
<img width="1044" alt="image" src="https://user-images.githubusercontent.com/2774117/56397205-e64ef600-61ff-11e9-8ff4-5430eb629279.png">

[2019-04-18 23:50] bobjacobsen commented on #6809
That’s showing OpenJDK 12, which we haven’t started testing against yet.

It’s probably not the cause of your problem, but you might want to try OpenJDK 11 or earlier.

[2019-04-19 00:12] danielb987 opened #6811 "Travis: No output has been received in the last 10m0s"
Travis headless=false frequent gives the error:

[code]

The last lines in the log are:
[code]

I'm not sure, but I think I have seen CarEditFrameTest as the last test with this error several times before. May it be a problem with that test? This test do `new CarEditFrame()` 27 times.

[2019-04-19 00:39] pabender commented on #1410
I believe this issue is now resolved

[2019-04-19 00:39] #1410 closed

[2019-04-19 01:35] pabender commented on #6811
Sent from my iPad

Basically, what this tells us is that the last test before the end of the output is hanging.

That test and a similar one for engines seem to be the biggest culprits right now.

We need to fix that so we can turn the verbose output off.  It makes it very difficult to look at test reports on mobile devices.

[2019-04-19 06:17] wimorrison commented on #6809
I have tried the 4.15.4 version however I cannot install it without installing Java 1.8 or later :(

is there a variable that I can defined which will make the installer routing use the Java version that is installed?

[2019-04-19 06:47] wimorrison commented on #6809
I installed Java8 to let me install 4.15.4 then reinstalled OpenJDK but JMRI still wont run, unless it is using Java8. I then ran installtest.bat and the results can be seen here

https://abload.de/img/javaissue11k7r.png

It says that it has tested and found Java, but then falls over :(

[2019-04-19 15:30] devel-bobm opened #6814 "LnOpsModeProgrammer can issue nuisance log messages"
I'm using HEAD code pulled approximately 16Apr2019.

After using the roster to program a SE8C card, I get the nuisance messages in the log, with a similar message for every LocoNet message received.  I am not entirely sure how I caused the problem, perhaps by incorrectly using the Roster to try to program the SE8c when in "programming track" mode (which doesn't work) then using the Roster in "prog

[2019-04-19 16:48] crosland opened #6816 "SPROG Bootloader"
The SPROG Bootloader was broken by changes to the command station in 4.11.4. Communication with the SPROG bootloader firmware will fail and leave the SPROG in a "bricked" state. There's little impact on users as we have not made firmware updates easily available.

I have a fix (tested more thoroughly this time) and will shortly submit a pull request.

[2019-04-19 20:19] newHeiko opened #6820 "Clock rate setting to non-integer rate does not work"
Quick problem description:

Running JMRI 4.14 with a Loconet Simulator, I cannot set the Fast Clock to a non-integer rate even though I'm selecting "Internal Computer Clock" as the time source.

Running JMRI 4.14 with a real Loconet connection (PR3 + DCS51) this works for some arcane reason. Running master, this does not work either.

My use case for this is to provide fast clock time via the webs

[2019-04-19 20:24] newHeiko opened #6821 "Clock rate textfield is over-written every fast minute on master"
While diving into #6820 I found another issue:

On master, the textfield used for entering the fast clock rate gets overwritten every fast clock minute by SimpleClockFrame/propertyChange -> updateRate()

This does not happen on 4.14.

This makes actually changing the clock rate difficult unless the clock is stopped first (or the rate is small enough that you have the time to enter a new value and

[2019-04-19 20:34] newHeiko commented on #6256
I believe there should be a kind of matrix - clock sources (Internal Hardware clock, Loconet...) out of which one master can be selected and clock slaves (Loconet...) which receive the time from the clock source (if enabled).

Clock rate could propagate from the master to the slaves, but it could also be rounded to an integer or overwritten in the process so the master can run at 1.5x speed and th

[2019-04-19 20:56] devel-bobm commented on #6820
There are a couple of challenges in supporting integral fast clock rates with LocoNet systems:
- LocoNet does not support non-integer fast-clock rates.
- LocoNet does not support updates of fast-clock time to tetherless "simplex" throttles.

The first issue above means that the only obvious and practical way to implement non-integer fast clock rates would be to send the new time every fast-minute.

[2019-04-19 21:02] devel-bobm commented on #6821
This is _likely a feature_ of the LocoNet FastClock implementation.  LocoNet messaging only allows setting both the time _and_ the rate.  There is no LocoNet message to set the fast-clock time without setting the fast-clock rate.  And there is no LocoNet message to set the fast-clock rate without setting the fast-clock time.

Other connection types could have similar issues if their messaging supp

[2019-04-19 21:18] newHeiko commented on #6820
I knew I probably wasn't too clear on the issue - that's exactly what I'm trying to do... I set the very first drop-down in this window: http://jmri.org/help/en/package/jmri/jmrit/simpleclock/SimpleClockFrame.shtml to Internal Computer Clock and still can't set non-integer rates if there is a loconet connection anywhere in the same configuration profile.

If a loconet clock is selected as the cloc

[2019-04-19 21:34] devel-bobm commented on #6820
I suspect that this is getting bogged down by the `instanceManager.getDefault()` call.  Exactly how that returns a "clock manager" will determine the behavior of the `SimpleClockFrame`.  I believe that order of connections can influence the behavior of `getDefault`.

Alternately, perhaps this "problem" justifies inclusion of an additional "default" setting - for the "fast-clock source".

FYI - I d

[2019-04-19 23:57] bobjacobsen opened #6823 "Create Test Release 4.15.6"
This is the next release in the 4.16 cycle. It's intended to be created around May 12 from HEAD of master.

[2019-04-20 00:59] danielb987 commented on #6821
Is there a need to trigger a propertyChange event if the fast clock rate is set to the current rate?

Isn't it reasonable to have the code something like:

[code]

[2019-04-20 01:52] pabender commented on #6821
Sent from my iPhone

You are only supposed to fire a property change if there is a change.

If you are checking for equality, then you want to do do with tolerance, so it is reasonable for inequality as well.

[2019-04-20 08:15] newHeiko commented on #6821
I believe - with my limited grasp of how the clock system works - the change triggering the propertyChange event is the change in fast clock time, which happens every fast clock minute.

One idea would be to expand the ClockControl interface with a RateChange and a TimeChange event, the other to keep a shadow copy of the fast clock rate input field and only overwrite the text input field if the ne

[2019-04-20 10:24] sidlo64 opened #6826 "Web Server - MultiSensor - not change state / icon - 4.15.5"
MultiSensor works normally in Panel Editor.
In Web Server panels the same sensor not change state / icon.
All other icons - turnouts, sensors, signal masts - are OK.
Affected version 4.15.4 and next.
Production version 4.14 is OK.

This issue was reported in #6765 and expected to be fixed in version 4.15.5, but the bug still persists.

[2019-04-20 11:11] rhwood commented on #6821
A listener can listen for all property change events from the listener to object, or only select events. In 4.15.5, the `time` event was added to `SimpleTimeBase` but so was the ability to listen to only select events from that class. It’s entirely possible that when that happened, a listener was not adjusted to either not listen to the `time` or `minute` events, or was not adjusted to only change

[2019-04-20 11:19] rhwood commented on #6826
Please provide a test profile showing the problem with specific steps to reproduce.

[2019-04-20 11:49] silverailscolo commented on #6469
PR #6822 implements the info quoted above _and_ provides early access to part of the existing Uhlenbrock 732x definition for use with new Piko decoder models.
For the longer term it would be good to:

- [ ] split out the core CV code in , used in both sound and non-sound decoder definitions, to a series of includes to present both types under a more recognizable model name without allowing too muc

[2019-04-20 12:17] rhwood commented on #6821
The propertyChange method on line 774 of SimpleClockFrame updates the rate field in the UI for *every* PropertyChangeEvent fired by SimpleTimeBase; it needs to be updated to only set the rate field if a `rate` PropertyChangeEvent is fired and to update the running button only if a `run` PropertyChangeEvent is fired. See the PropertyChangeEvent Javadoc for the API for getting the property name from

[2019-04-20 12:53] sidlo64 commented on #6826
[BugMultiSensor.jmri.zip](https://github.com/JMRI/JMRI/files/3100121/BugMultiSensor.jmri.zip)
JMRI 4.15.5
In zip file is TestProfile.xml.
Connection Digitrax LocoNet Simulator (no meaning).
Open TestProfile.xml and start Web Server.
In Panel Editor click buttons and levers follows buttons.
Open browser and Test Profile panel.
Click buttons - but **levers does not follow buttons**.
When you refresh

[2019-04-20 14:57] bobjacobsen opened #6827 "openlcb.PackageTest leaves too many threads"
When run as part of comprehensive tests,`openlcb.PackageTest` leaves hundreds of threads running. This overwhelms various diagnostic tools (i.e. from ctrl-\ to NetBeans stack tracer) during later parts of a test run.

<img width="557" alt="image" src="https://user-images.githubusercontent.com/2774117/56458949-523d7580-634a-11e9-902b-9a336e4c41dd.png">

[2019-04-20 15:29] bobjacobsen opened #6828 "Threading issue in CbusSlotMonitorDataModel"
`CbusSlotMonitorDataModel` is an `javax.swing.table.AbstractTableModel`.   As such, it needs to fire notifications to Swing components for display, etc as part of an MVC pattern.

When run as part of the `ant logalltest` target used by JaCoCo, it emits messages like:

[code]

These come from `jmri.util.ThreadingUtil` when doing i.e. a switch to the GUI thread via a `ThreadingUtil.runOnGUI` call.

[2019-04-20 15:43] icklesteve commented on #6828
Well done for spotting @bobjacobsen , I had a look over it yesterday but had missed that.

The synchronized has been there since initial upload so potentially a legacy copy / paste, none of the other processXXX private routines have it.

I'll just run a few tests then upload,
Steve

[2019-04-20 16:06] bobjacobsen commented on #6828
Looks like `createnewrow` (line 318) is the other `synchronized` call.  The only thing I see there that might require synchronization is the add to `_mainArray`.  If that's the case, switching to a self-synchronized list (line 66) will fix it:
[code]
But not the caution about iterating in the [Javadoc](https://docs.oracle.com/javase/7/docs/api/java/util/Collections.html#synchronizedList(java.util.

[2019-04-20 19:57] bobjacobsen commented on #6828
Closed by #6829

[2019-04-20 19:57] #6828 closed

[2019-04-20 21:06] pabender commented on #6827
I would actually go one step further.

I think the JMRI OpenLCB tests start more threads than are required for unit testing.  When last I dealt with this, we reduced the number of residual threads from

There also are at least a few OpenLCB test classes that test the pieces of the OpenLCB library.  Those really shouldn’t be in the JMRI tests.

( also I just spotted that https://github.com/JMRI/JMR

[2019-04-20 21:10] bobjacobsen commented on #6673
JMRI 4.15.5 has been released. Files are available in the GitHub release section.

[2019-04-20 21:10] #6673 closed

[2019-04-21 17:46] newHeiko commented on #6821
Thanks for pushing my nose to the fact that the event originates from SimpleTimeBase, I thought it came from deeper within the clock system.

Since for some reason I didn't get any notification from your PR, I also created  (less invasive, probably your attempt is the first step in a larger refactoring).

I leave it to you guys to decide which way to go with the code

[2019-04-21 18:06] newHeiko commented on #6820
That sounds like a good plan to me.

Now summer is coming, so I'm not really looking forward to more coding, but if I have some time on trains or similar, I'll try to come up with some more generic refactoring "AdvancedTimeBase" and "AdvancedClockFrame"... but that's beyond the scope if this issue.

[2019-04-22 09:52] MARCFOUR opened #6835 "JMRI 4.15.5 bug, PR4 Standalone mode"
Digitrax PR4 Standalone Programmer mode.  No engine/decoder on program track.  DecoderPro 4.15.5 will take 3 minutes to discover there is no engine on track.  Then it throws a 302 error message and the PR4 can not be used any more as all attempts to program are greated with "Command Rejected" as seen in Monitor Loconet.

A Restart of JMRI is required to recover programming capabilities of the PR4.

[2019-04-22 14:15] danielb987 commented on #6811
Output from travis headless=false
[code]

[2019-04-22 19:40] icklesteve opened #6837 "NodeConfigToolPaneTest causing exception in AllTest"
Hi All,

In latest separate tests log at
http://builds.jmri.org/jenkins/job/Development/job/Separate_Tests/376/consoleFull
there is 1 test with an exception, jmri/jmrix/can/cbus/swing/nodeconfig/NodeConfigToolPaneTest

The line it's failing on is a standard JTable.getRowCount() which indicates a particular table isn't initialising OK which I'll upload a fix for v soon.

The test itself isn't one o

[2019-04-22 21:14] bobjacobsen commented on #6837
The top of that Exception traceback shows that it started in the AWT/Swing thread, running through Swing code itself (it didn't start in the test thread).  Swing's handling of exceptions during UI processing is a little complicated, and we don't always catch Exceptions that happen there during testing.

Might be an interesting project to figure out how to install a complete set of error handlers t

[2019-04-23 04:41] pabender opened #6842 "Some OpenLCB classes depend on CAN"
Some JMRI OpenLCB classes are tied explicitly to CAN, but OpenLCB is not restricted to CAN.

The classes need to be tied to objects in the OpenLCB library  instead (such as org.openlcb.OlcbInterface ).

files in the jmri/jmrix/openlcb subtree containing references to jmri.jmrix.can include:
OlcbAddress.java
OlcbLightManager.java
OlcbConnectionTypeList.java
OlcbSignalMast.java
OlcbTurnoutManager.ja

[2019-04-23 10:42] mesheets commented on #6744
I have used a rather unmodified JMRI configuration.  Part of what has been puzzling is that an "out of the box" setup works on Windows but does not on Linux/Raspbian.

Based on the suggestion of @Pugwash1 , I did then check into potential differences related to roster.xml and did find a difference there between the platform distributions.  (As described earlier, the Windows install included an "en

[2019-04-23 11:41] pabender commented on #6827
@bobjacobsen that step up between 1:40 and 1:50 is 30 or 40 threads identified as BlockBossLogic.  We should probably figure out how to terminate those threads.  There are also a couple BlockBossLogic threads created pretty early in the process, before the OpenLCB threads start.

[2019-04-23 13:17] bobjacobsen commented on #6744
The “written by JMRI” lines are what they say: the time the was written by a program running that particular JMRI version.

Note that the Windows date is well after the release creation date. Maybe it was created during the installation, or by something you did after the installation.

[2019-04-23 14:01] mstevetodd commented on #6744
@greenwizard88
I installed Train Throttle and did a bit of testing. I found that:
1) Train Throttle always crashes if I have no roster entries, indicated by WiThrottle Server returning "RL0".
2) Train Throttle does not crash if I have at least one roster entry, indicated by WiThrottle Server returning "RL1]\[VRE53}|{53}|{S" or similar.
I verified this on Windows 10, Raspbian and Ubuntu, by removin

[2019-04-23 14:12] bobjacobsen commented on #6827
@pabender  I think that group is left over from the XML file loading tests. Those don't really clean up created objects except to re-init the InstanceManager.  I'll take a look at making that smarter.

[2019-04-23 19:59] icklesteve commented on #6837
Thanks Bob, that makes sense now.
That sounds like a worthwhile project but a bit beyond myself at present!

Issue not resolved by #6838 as per console log at http://builds.jmri.org/jenkins/job/Development/job/Separate_Tests/378/consoleFull
so further attempt at #6845

[2019-04-23 20:05] #6826 closed

[2019-04-23 20:06] #6821 closed

[2019-04-24 01:08] mesheets commented on #6744
Yes, perhaps during install?  I performed a clean install of JMRI for testing purposes, which might explain the more recent timestamp in the version of the roster.xml file on Windows.

.

Testing recommendation: I would advise **_against_** using the following sequence when testing, as it will yield different results that will appear to work:
1. Switch to the WiThrottle window
2. In the WiThrottle

[2019-04-24 01:19] rhwood commented on #6744
The roster.xml file is created when a JMRI application runs, not at installation time.

Once the roster.xml file read, it is retained in memory, such that manual changes while a JMRI application is running will have any effect; constantly rereading that from disk would have significant negative performance impacts otherwise.

Sent from my iPad

[2019-04-24 12:11] mesheets commented on #6744
@rhwood

For my clarification, and based on the context of the negative performance impact of constant disk rereads, should that perhaps read, "manual changes while a JMRI application is running will _not_ have any effect"?

That was somewhat my expectation of what the behavior might be, which is why I would stop and restart the WiThrottle server service, until I discovered that WiThrottle behaves

[2019-04-24 23:40] wayne-sw opened #6852 "Layout Editor Change Turnout Color"
@geowar1

Per the discussion on groups.io.

In Layout Editor, it would be nice to have the turnout circle change from yellow to red when the turnout is selected and thrown.

[2019-04-28 09:21] greenwizard88 commented on #6744
There's an update for Train Throttle out, v1.13beta, which should correct the issue. Can anyone who was able to reproduce the issue, confirm for me that it's fixed?

[2019-04-28 11:59] KenC57 opened #6871 "XML test passes for bad Logix systemNames"
Very old panel files did not use the IX prefix in the Logix systemName field. The Validate XML test does not detect this and says 'Ok'. Later parts of loading the file then causes the Logix create to fail and then later errors of the conditionals not finding a Logix to bind with.
-ken c

[2019-04-28 12:48] pabender commented on #6871
How old?

Do we need to add a test that catches this?

Do we need to ask the user to load the file in an intermediated version that can read the old format but writes the new one?

Paul

[2019-04-28 13:11] bobjacobsen commented on #6871
@KenC57 Could you please check if the release-note instructions to read and write the file with JRMI 4.12 fix this?

If not, please append the file (might have to add .txt to the name)

[2019-04-28 16:44] danielb987 commented on #6811
Output from travis headless=false
[code]

[2019-04-28 19:20] KenC57 commented on #6871
Paul,
The version he was on was 3.0 or 3.10, something in the 3's. I'm not sure
which version started writing with the IX or how that transition went. I
guess it would be good to document which was the last version that read
without the IX but wrote with the IX.

At least the XML should fail if it won't read the file successfully.
-ken c

[2019-04-28 19:59] dsand47 commented on #6871
The lack of IX is not the issue.  It was a numeric system name, but jmri.Manager requires that the first character be a letter.  XML validation was successful because it only requires at least two characters.

The systemNameType pattern in general.xsd should be changed.

[code]
Setting the pattern to `[A-Z].*` will satisfy the jmri.Manager requirement.

[2019-04-28 22:47] mstevetodd commented on #6744
@greenwizard88 I tested it on the same configuration which crashed before, and it no longer crashes. Thanks!

[2019-04-29 00:16] bobjacobsen commented on #6871
@dsand47: I've got a branch with a full set of validations set for after 4.16 is released.

Note that there's no requirement that the 1st character be an upper case letter; lower case is fine.

@KenC57:

without the IX but wrote with the IX.

That's why I asked if converting through JMRI 4.12 fixed this.  That's the version that's supposed to be the conversion line.  Did it work?

[2019-04-29 01:32] peterprewett opened #6873 "Withrottle window blank"
I am new to JMRI and trying to set up an Android phone without success.
The throttles and panel are working on Laptop via USB to Lenz interface.
When I open WiThrottle, Device Name and Address are blank, I have tried changing the port number without success it defaulted to DESKTOP-BEQK14N.lan10.1.1.216:12090 do not know what that means or how to change as the 10.1.1.1 is the access to the iiNet ro

[2019-04-29 01:57] KenC57 commented on #6871
I haven't had a chance to test with 4.12, my usual systems don't go back
that far. The original file is 17M with about 16M of the repeating block
routing bug. I'll see what I can find.

[2019-04-29 10:31] rhwood opened #6876 "CTC Windows use custom storage mechanisms"
The CTC Windows do not extend JmriJFrame and consequently use custom mechanisms for storing all preferences and settings like window size and position that JMRI provides standard mechanisms for handling that are not used.

The CTC system may also have other settings that the `jmri.UserPreferencesManager` or `jmri.util.prefs.JmriPreferencesProvider` could be used to store in a way that allows the C

[2019-04-29 16:10] icklesteve opened #6877 "Throttle Steal / Share Implementation"
Hi All,

I've been thinking about how best to introduce the Steal or Share Throttle feature in MERG CBUS.

Please see proposed addition to ThrottleListener flow diagram.

Would also add to throttle preferences a "Silent Share" boolean option, complementing "Silent Steal".
This would be the preferred way for ThrottleListener scripts like AutoDispatcher to respond to the option.

Thoughts appreciate

[2019-04-29 16:29] pabender commented on #6877
@icklesteve

Most systems don't actually support the concept of stealling.

As for sharing, we generally do what physical throttles do, but on most systems we just don't have any idea if another throttle is in control of the address.  Also, a single JMRi instance does not share or steal with/from itself.  JMRI is to be considered a single physical throttle for this purpose.

LocoNet brings the ste

[2019-04-29 16:31] bobjacobsen commented on #6877
If we're rethinking this, can I make a different suggestion? Instead of relying on multiple callbacks, just specify the operation from the start:

 - In addition to the existing `requestThrottle(address, ThrottleListener)` method, add a new `requestThrottle(address, ThrottleListener, ThrottleManager.RequestType)` method, where `ThrottleManager.RequestType` is an `enum` specifying one of three requ

[2019-04-29 16:42] sidlo64 opened #6878 "Untranslated strings in Logix release 4.15.6"
I found untranslated strings in
Tables - Logix - Edit Logix - Edit Conditional - Edit Variable - ComboBox
In **Czech** language in field Type of variable (Typ proměnné) ComboBox are untranslated strings. In release 4.14 it was OK.

[test-2.xml.txt](https://github.com/JMRI/JMRI/files/3128317/test-2.xml.txt)

![ScreenShot](https://user-images.githubusercontent.com/20986698/56911772-11620100-6aae-11e

[2019-04-29 16:58] pabender commented on #6877
@bobjacobsen for scripting, we already hide a lot of this from the user because of the notifyThrottleFound behavior.

in particular, the process started by getThrottle() in jmri.jmrit.automat.AbstractAutomaton uses an automatic steal implementation.
(getThrottle predates the addition of steal...)

[2019-04-29 17:00] pabender commented on #6877
The only issue I have with eliminating the callbacks is how do you know for certain if the steal needs to be handled if the command station doesn't tell you unless you ask for a throttle in use?

The callbacks correspond to the traffic on the network.

[2019-04-29 17:32] bobjacobsen commented on #6877
Why does the throttle-requesting code need to know if a steal has to be done?  The requestor can just specify how it wants that to be handled, should it be needed, and leave it at that.

[2019-04-29 17:54] pabender commented on #6877
Strictly speaking, it isn't, but the thought is that on systems where stealing is possible, we want the user to make the choice.  We don't want the user to be asked the question if it isn't required.

[2019-04-29 17:55] rhwood commented on #6877
The DT402 throttles check if an address is in use and prompt the user to confirm they want to steal the address if it is use, and just take the address if the user does not need to be prompted. That's the behavior the steal callbacks allow JMRI to emulate.

[2019-04-29 17:58] icklesteve commented on #6877
The steal / share mechanism has been standard for MERG handsets since about 2013.

Currently, trying to using it at the same time as JMRI causes major errors though this is more to do with the mechanism for cancelling sessions in dynamic stacks, something I'll deal with in another thread.

All of the non-UI ThrottleListeners that I've looked at default to Steal in the steal scenario.
That would no

[2019-04-29 21:19] dsand47 commented on #6876
The CTC Editor windows are built and maintained using the NetBeans IDE and pre-date integration into JMRI.  This also applies to the ProgramProperties.xml file.

[2019-04-29 22:05] dsand47 commented on #6871
As far as I can tell, there is no automatic conversion for bad Logix system names.

At 4.10 a bad name loses it conditionals but the Logix itself survives.  At 4.12 a
jmri.NamedBean$BadSystemNameException occurs and the Logix and its conditionals no longer exist.

[2019-04-30 02:05] Pugwash1 commented on #6877
@rhwood To expand on this, the new Digitrax command stations allow the true stealing of a throttle, the aquierer is prompted if the want to steal, and the throttle they steal from is notified and can no longer control the loco.
Our Club/Group is very interested in applying this to WiFi throttles.Currently we use a custom build that has loconet as not having shareable throttles.
We think @icklestev

[2019-04-30 05:19] wayne-sw commented on #5410
It does this to me all the time in 4.15.4. I can click on the scrollbar and slide it and wherever I slide "over" it cleans up the edge, but if I move the panel or zoom in or out it comes back.

[2019-04-30 05:58] pabender commented on #6877
Right, we put into place an automatic steal behavior. for most of these applications when we put the steal mechanism in place.

Part of this had to do with not disrupting the user experience.

An example occurs with consisting. In order to add/remove a locomotive from a consist we manipulate the throttle (at a minimum to set the direction, but sometimes to set the speed also).

On a loconet system

[2019-04-30 13:30] icklesteve commented on #6877
As to what type of initial request to create a Throttle should be made, I'm not keen on introducing extra logic to ThrottleListeners to make that decision at creation time ( or querying the ThrottleManager for a suggested request prior to a request ).
I think the main request throttle should remain as-is, it currently generally works as expected, and custom hardware methods can deal with it.
Any p

[2019-04-30 14:36] pabender commented on #6877
There isn't a general "no longer valid" property at this point in time.

The throttleListener interface should only be used for the acquisition process.

There is no requirement that the throttleListener actually be able to control the throttle.  It is allowed for the throttle listener to pass the throttle object on to some other object for control.

There is also no requirement that an object con

[2019-04-30 15:56] bobjacobsen commented on #6873
Closed via jmriusers discussion https://groups.io/g/jmriusers/topic/31381466#159608

[2019-04-30 15:56] #6873 closed

[2019-04-30 15:56] #6835 closed

[2019-04-30 15:57] MARCFOUR commented on #6835
Issue was with PR4,

[2019-04-30 21:00] danielb987 commented on #6811
[code]

[2019-04-30 21:21] geowar1 commented on #6852
See PR #6882

[2019-05-01 03:36] mesheets commented on #6744
@greenwizard88 I tested on both Windows 10 and Windows 10 Mobile, and it is now able to establish a connection without issue.

**Train Throttle**
One slight problem I encountered was that on Windows 10 Mobile, regardless of whether using the on-screen keyboard or using an attached USB keyboard, I could not enter anything in either the IP address field or the port field.  I could backspace using ei

[2019-05-01 13:01] KenC57 commented on #6877
You may want to look at the LCC implementation for further clues. Here is the path and basic notes.
-ken c

The traction protocol draft is in https://github.com/openlcb/documents/blob/master/specs/drafts/TractionWN.pdf
The protocol contains support for both of the operating modes: exclusive and cooperative. It is up to the train node to define whether they want exclusive or coop mode. Train nodes

[2019-05-01 13:40] chrisridd opened #6886 "DecoderPro printed "BASIC" info is wrong"
I have a loco using long addresses, which displays correctly in the summary but when I choose to print the roster entry, prints that it is using short addresses in the "BASIC" section.

Attaching the printed roster entry (using the Mac's print to PDF)

[110 165-8.pdf](https://github.com/JMRI/JMRI/files/3134647/110.165-8.pdf)

[2019-05-01 14:05] bobjacobsen commented on #6886
Very interesting!  Could you also attach a copy of the roster file?  It should be called  110_165_8.xml and be in the “roster” directory inside your JMRI preferences folder. The easiest way to find that folder is to open the Locations... item in the JMRI Help menu, then clck Open Roster Location to open the folder.

Or it is (probably) located in the ~/Library/Preferences/JMRI/(current profile)/ro

[2019-05-01 14:13] chrisridd commented on #6886
Thanks Bob, here's my roster XML file. I don't think I've changed much from the defaults yet, apart from the address, which certainly looks "long".

[110_165_8.txt](https://github.com/JMRI/JMRI/files/3134737/110_165_8.txt)

[2019-05-01 14:18] bobjacobsen commented on #6886
Thank you!  Definitely a bug, though I’m not quite sure where yet.  Will try to get it fixed this weekend.

[2019-05-01 14:26] chrisridd commented on #6886
No problem! It isn't too critical, I'm just kicking the tyres on my new DCC system to see how things work.

[2019-05-01 22:45] bobjacobsen opened #6890 "Consistently failing tests in Jenkins build jobs"
There are currently some consistently failing tests in the Jenkins Builds job, which runs `ant logheadlesstest`

First group:
 - [x]  jmri.implementation.DefaultConditionalTest.testTriggers
 - [x] jmri.implementation.DefaultConditionalTest.testActionCurrentState
 - [x] jmri.implementation.DefaultConditionalTest.testAction

All three of those seem to be failing because the tests are run at logging

[2019-05-01 23:06] pabender commented on #6890
That JSon time test is failing because it is comparing time using a moving clock.  It either

 1. Shouldn’t be comparing for equality.
 2. Should be working with a stopped clock

[2019-05-01 23:20] rhwood commented on #6890
That time one is verifying that a Date value is copied to two other values while firing a PropertyChangeEvent. That’s it.  It *was* using a moving value, but is now testing that two listeners get a copy of the listened to value. How that copy is producing inconsistent values is a mystery to me.

[2019-05-02 17:24] sidlo64 opened #6894 "LayoutEditor - WebServer - Block State Indication - 4.15.6"
In Layout Editor is created layout with Entry-Exit and Full Interlocking.
Set route by T13 and T11.
Block B10, B9, B7, B6 and B5 are set as alternate.
Then change state sensors S10, S9, S7, S6 and S5 to state Active and back Inactive.
Blocks step by step change state.

Open web browser with panel BugLayoutWeb. Repeat steps above. Block does not change state in web browser.

Affected release curren

[2019-05-02 20:08] mstevetodd commented on #6894
Hi Petr,
The json websocket service was recently changed to no longer accept username as the "name" when retrieving layoutBlocks. Not sure why that was done. Usernames are still accepted for other types, such as "turnout".
For example, in your panel you have a layoutBlock with system name "ILB1" and username "B1". This websocket request works at 4.14:
`{"type":"layoutBlock","data":{"name":"B1"}}`

[2019-05-02 20:28] rhwood commented on #6894
@mstevetodd can you point to that change? I recently changed the WebSocket server to accept username or systemname for every NamedBean type; even though I also made the web panel code include the systemname instead of the username in the XML sent to a client. The recommendation to use systemname instead of username stems from potential encoding issues between different browsers for some common cha

[2019-05-02 20:41] mstevetodd commented on #6894
@rhwood, I provided an example of what was working and is no longer working. I did not search for the actual change. The xml panel contains references (such as tracksegments) that are only by username. If systemnames are to be used, that's great, but that change needs to be made throughout the existing code.

[2019-05-02 23:35] bobjacobsen commented on #6890
PR #6897 fixed the 1st group of three.

[2019-05-02 23:39] bobjacobsen commented on #6890
I don't understand the analysis above about what's going wrong in the JSON code.  Here's the code:
[code]
(`manager` is set to the TimebaseManager a few lines above)  The assert is comparing `current` to something taken from `message`.  `current` was loaded from a specific call to `manager`, which wasn't the same call as where-ever the `message` got it's time.  So the clock could clearly have run

[2019-05-02 23:40] rhwood commented on #6890
I made a change in that test, which this is not showing, so maybe I made it in a branch that not's a PR yet. I'll go look and see.

[2019-05-02 23:53] rhwood commented on #6890
I had a change to this test where there were two listeners and I compared the two listeners to ensure the time change was 1) being captured, and 2) being encoded correctly, but I can't find it in any branch (I may have inadvertently lost it when I recently cleaned up some branches). I'll have it recreated by Saturday if you wait on that.

[2019-05-02 23:58] bobjacobsen commented on #6890
Thank you! Sorry for the extra effort.

Git doesn't really delete branches directly, so you might still be able to locate those via e.g. `git log` or gitx/gitk.

[2019-05-02 23:59] bobjacobsen commented on #6890
(sorry, that should have been `git reflog`, bitten by autocorrect)

[2019-05-03 00:00] bobjacobsen commented on #6890
Another approach: https://stackoverflow.com/a/16813291/8408461

[2019-05-03 10:56] rhwood commented on #6890
#6898 should have the correct JsonTimeSocketServiceTest tests now.

[2019-05-03 11:21] rhwood commented on #6894
@mstevetodd The changes were all verified against existing test cases, which *all* use system names for the name property assuming the test didn't just verify that a service instance could be instantiated without error. I can only write code changes against what I know, and what documentation and code comments indicates should be true (that the name property in JSON will be a system name) and sinc

[2019-05-03 11:55] rhwood commented on #6894
@sidlo64 Can you provide a complete profile with the panel and the connections it requires?

[2019-05-03 13:54] mstevetodd commented on #6894
@rhwood, no offense or chiding was intended.

I agree that the json "name" property was not previously documented. Given past comments from others regarding using username throughout JMRI, I would have assumed that username was actually the preferred path.
I see you've now stated that system name is required, with this addition: https://github.com/JMRI/JMRI/commit/a2fbddb#diff-752442da7e9bbf1667e9

[2019-05-03 14:19] pabender commented on #6894
It is highly preferred that we do this via automated testing.

We can certainly write tests that load panels and interact with them through a web browser.  We do some web interactions with our cucumber tests already.

[2019-05-03 14:33] mstevetodd commented on #6894
@pabender If you're willing to set up an example of that test, I'd suggest using the OneOfEach panel already shipped with JMRI. I can then clone your test for other functionality I normally look for manually.

[2019-05-03 14:56] pabender commented on #6894
@mstevetodd ok, let me work on that.  It might take me a couple of days (end of semester, busy time of year at work).

[2019-05-03 16:49] sidlo64 commented on #6894
Profile
[BugMultiSensor.jmri.zip](https://github.com/JMRI/JMRI/files/3142816/BugMultiSensor.jmri.zip)

[2019-05-04 12:14] rhwood commented on #6894
The JSON system uses systemNames and not userNames [because userNames are optional and may not be unique](http://jmri.org/JavaDoc/doc/jmri/NamedBean.html); because encoding whitespace reliably in a URL is difficult, and because encoding "non-safe" characters in a URL is insanely difficult (there are multiple schemes for encoding non-safe characters; different clients may make different choices abo

[2019-05-04 16:19] icklesteve commented on #6877
Thanks for the comments all, have certainly helped my thinking.

Good tips from @pabender , will focus on ThrottleListeners for now so have removed Throttle from the ThrottleListener sequence diagram to focus on that process.

After looking through all of the ThrottleListeners, there was a clear split into 2 types.
The "please just show me the Throttle, I could well be headless" type, eg.
- jmris.

[2019-05-05 01:23] #6894 closed

[2019-05-05 07:49] rekolok opened #6903 "Ecos communication breakdown"
Hi,

I started using JMRI just a few weeks ago and all worked well until a few days ago.
My Ecos is connected to the LAN port and the Mac via WiFi.
All connections are fine, I do have access to the Ecos with the Mac directly but no more via DecoderPro.
Whenever I open DecoderPro, it says Ecos is online but the program does not recognize my Ecos (button = unknown status) and the status window remai

[2019-05-05 07:51] silverailscolo commented on #4249
Closing this issue now that all connection support multi-character prefixes, multiple connections and issue #1410 closed. If an additional Simulator is desired, it could be added based on this.

[2019-05-05 07:51] #4249 closed

[2019-05-05 07:57] silverailscolo commented on #4635
SPROG Simulator was added in 4.11.2 with PR #4795. No issues reported since.

[2019-05-05 07:57] #4635 closed

[2019-05-05 14:17] icklesteve commented on #6837
Confirmed this particular exception resolved after checking
http://builds.jmri.org/jenkins/job/Development/job/AllTest/7/consoleFull

[2019-05-05 14:17] #6837 closed

[2019-05-05 18:26] bobjacobsen commented on #6890
@rhwood Thank you!

[2019-05-05 18:26] #6890 closed

[2019-05-05 18:31] bobjacobsen opened #6906 "Three tests failing consistently when Jenkins runs AllTest"
The [Jenkins AllTest job](http://builds.jmri.org/jenkins/job/Development/job/AllTest/) is consistently showing three similar failures:

- [jmri.jmrit.display.controlPanelEditor.EditPortalFrameTest.testCTor](http://builds.jmri.org/jenkins/job/Development/job/AllTest/lastCompletedBuild/testReport/jmri.jmrit.display.controlPanelEditor/EditPortalFrameTest/testCTor/) is logging:
[code]

- [jmri.jmrit.d

[2019-05-05 18:32] rhwood commented on #6906
What OS is Jenkins running?

[2019-05-05 18:40] pabender commented on #6906
@rhwood I believe it is a Linux System.

[2019-05-05 18:59] pabender commented on #6906
Notice that all three of these are occurring within their respective constructors.

The line in the first one of those reads:
setLocation(jmri.util.PlaceWindow. nextTo(_parent._editor, null, this));

I think the error is saying that _parent._editor is not currently visible on the screen.

It would probably make sense to catch this error when determining the position in that nextTo method.

[2019-05-05 19:08] pabender commented on #6906
After looking at this further, this appears on Jenkins because of debug mode:

https://github.com/JMRI/JMRI/blob/62c61262667c97b994f72c14a5806a7c90e978a2/java/src/jmri/util/PlaceWindow.java#L75-L85

line 77 above is causing the issue.

[2019-05-05 19:16] pabender commented on #6906
#6907 should take care of this.

[2019-05-05 20:54] bobjacobsen commented on #6903
Have you checked to make sure that JMRI has the ecos connection properly configured in the JMRI connection preferences?

Also, check for relevant messages in the console (available from the Help menu)

[2019-05-05 21:46] bobjacobsen opened #6909 "Intermitent QSI fail in CI tracked to timer"
The following traceback might be a clue to the intermittent CI failures in the QSI code:
[code]

A Swing timer is firing after a QSI test has completed and cleaned up the InstanceManager.

[2019-05-05 21:59] #6906 closed

[2019-05-06 05:21] rekolok commented on #6903
The configuration fits and there is no message in Ecos.
As I said, all worked fine in the beginning and it stopped without obvious reason.
When I set up JMRI for the first time, it would not start without the Ecos being online. Now it starts whatever status of the Ecos and it says that the Ecos is online even when this is turned off.

I tried setting up JMRI from scratch but it always returns to t

[2019-05-06 06:52] dheap commented on #6903
Check Preferences->Defaults to make sure that nothing is set to "Internal".

[2019-05-06 15:06] bobjacobsen opened #6912 "Intermittent Swing crash running Warrant tests"
The log in the vicinity of the crash (some redundant java lines elided):
[code]

This can happen multiple times in a single AllTest run. This particular one was during `jmri.jmrit.logix.LinkedWarrantTest.testBackAndForth`, but it happens in other warrant tests occasionally too.

The fault happens in `jmri.jmrit.display.Editor$TargetPane.paint(Editor.java:658)`, which is a `super.paint(g)` call whi

[2019-05-06 15:37] pabender commented on #6912
Sent from my iPad

I know at least some of the warrant tests are moving marker icons around the panel.  This could be the culprit.  I don’t know this code well enough either, though I could probably track down the issue...

[2019-05-06 17:59] rekolok commented on #6903
Everything is set to Ecos, except "command station".
Problem is, I cannot change the settings. They stay what they are.

[2019-05-07 22:31] danielb987 commented on #6811
[code]

[2019-05-07 22:35] danielb987 commented on #6811
@pabender
I have three times there RosterFrameTest is timing out. See above. Maybe timeout and retry rules should be added to this test?

[2019-05-08 17:50] #6820 closed

[2019-05-08 20:10] KenC57 opened #6919 "CMRI Network Monitor Help Missing"
When you open the CMRI Network Monitor, the window is not sized right. Only the top half shows, only error metrics. The Data Metrics and buttons do not show.

Resizing and closing the window does not save the size, so it has to be resized every time.

If you hit the Help->Window Help, you get the following stack dump and error.

	at javax.help.Map$ID.create(Map.java:126)
	at javax.help.CSH.display

[2019-05-08 20:25] icklesteve commented on #6919
Other CMRI support pages are missing as well, see #6164

[2019-05-09 09:02] dheap opened #6921 "LokProgrammer CV List Import fails in in low memory situations"
This arose from a proposed change to `-Xmx` in `build.xml` (since reverted) as part of #6917.

A quick summary is that [LokProgImporter.java](https://github.com/JMRI/JMRI/blob/master/java/src/jmri/jmrit/symbolicprog/LokProgImporter.java)  fails with an `OutOfMemoryError: GC overhead limit exceeded` when invoked from a Loksound 5 definition in a low-memory situation such as `ant` targets or a Raspb

[2019-05-09 09:03] dheap commented on #6921
Present indications are that a Raspberry Pi user should be able to edit/read/write a LokSound 5 with the new definitions but that the rarely-used "Import LokProgrammer CV list file" will fail.

We can look at the cause of the heap blowout with that command later.

[2019-05-09 09:04] dheap commented on #6921
Agreed, but:

- A V4 definition/roster entry has 1016 CVs and 4410 Variables.
- A V5 definition/roster entry has 2035 CVs and 9895 Variables.
- There are also some CVs/Variables in both I'm not yet reading ~60ish from the import log.

I dont think any other definition in JMRI is in this CVs/Variables league...

[2019-05-09 09:07] dheap commented on #6921
When LokProgImporter reads a V5 file it invokes CvValue.setValue(value) 2,035 times.

1. This fires up to 2,035 PropertyChangeEvents.
2. This causes up to 9,895 VariableValues to receive a PropertyChangeEvent and update the variable's value.
3. This causes up to 9,895 VariableValues to fire a PropertyChangeEvent.
4. These up to 9,895 PropertyChangeEvents may cause up to ~9,895 pane field updates a

[2019-05-09 09:29] dheap commented on #6921
@rhwood I welcome your comment and suggestions as well.

[2019-05-09 10:21] rhwood commented on #6921
Two things in `CvTableModel`:
- Try replacing Vector with ArrayList (see https://stackoverflow.com/a/1386288/176160)
- When doing a bulk set of changes (a.k.a. reading the CV file, not reading the values from the decoder (that takes long enough each CV can be updated as its read)), don't call `fireTableDataChanged()` for each change, but call it only once at the end of the bulk set of changes, and

[2019-05-09 10:42] dheap commented on #6921
@rhwood Thanks for those insights. It sounds like deep waters!

[2019-05-09 19:02] bobjacobsen commented on #6921
Could somebody please attach a test file for importing?  I can look at this with some heap tools late this evening, but I don't know how to recreate it.

[2019-05-09 19:42] dheap commented on #6921
@KenC57 wrote:

No, the importer is low-usage. It only imports CV values that can be exported from LokProgrammer via its Tools->Export CV List File.

It doesn't have anything to do with Sound Slot names. Th's the subject of some other work I started years ago in the V4 era but haven't progressed far.

Uses are:

1. A user who has received a decoder that has been incorrectly programmed by the Vendo

[2019-05-09 19:45] dheap commented on #6921
@pabender wrote:

You also need Windows (I use VMWare Fusion) and the LokProgrammer software (free download) to extract the CV list file.

[2019-05-09 19:46] pabender commented on #6921
@dheap as Bob and I have both requested, please provide a data file.

We need to see what part of this process is causing the memory to be out of control.

I will ask a question I have asked already:
can we just download one of the projects from

http://projects.esu.eu/

To use as a test file?

[2019-05-09 19:47] pabender commented on #6921
Could you please provide that CV list file as an example?

I don’t have a windows machine available.

[2019-05-09 19:52] dheap commented on #6921
Use with a new "lokSound 5" roster entry.
[S0601-LS5H0M4-Diesel-ALCO-12-244-V1-R1.txt](https://github.com/JMRI/JMRI/files/3163718/S0601-LS5H0M4-Diesel-ALCO-12-244-V1-R1.txt)

[2019-05-09 20:16] dheap commented on #6921
@bobjacobsen wrote:

I've been using jvisualvm but couldn't see what was retaining it. I wasn't aware how to do your last two steps.

[2019-05-09 20:17] KenC57 commented on #6921
Dave,
Sounds like you have another winner. I'd mention your test results as a clue
about memory. But I'd say you got it ok.

[2019-05-10 01:13] icklesteve opened #6924 "Edit / Update Light Control does not update light control"
Issue reported via
https://groups.io/g/jmriusers/message/159759

Not hardware specific.

Create new light with a Sensor control.
In Sensor Table click edit to edit the light
Click to edit the light control.
Change the sensor to another one, click update.
Edit Light Control Window closes but light control does not update, leaving original sensor.

Edit the sensor control to active / Inactive DOES w

[2019-05-10 01:46] icklesteve opened #6926 "Create new NamedBean hardware mismatch"
First noticed with creating a sensor range, reproduced with Turnouts.

Mismatch between the hardware type selected and the validation performed.

Eg. with NCE Sim + MERG CBUS Sim ( can create both types with integers ),
create a range of sensors 1-10 in one type.
When creating a range of sensors from 1-10 in the other type you may get 10 dialogue boxes saying that the address already exists, then

[2019-05-10 04:43] rekolok commented on #6903
#![Schermafbeelding 2019-05-10 om 06 31 43](https://user-images.githubusercontent.com/49794393/57502797-a4d8d480-72ed-11e9-9a71-ad8d33e514f7.png)
![Schermafbeelding 2019-05-10 om 06 29 10](https://user-images.githubusercontent.com/49794393/57502804-ae623c80-72ed-11e9-86d5-7c6334a83eac.png)
![Schermafbeelding 2019-05-10 om 06 32 46](https://user-images.githubusercontent.com/49794393/57502806-b1f5c3

[2019-05-10 04:52] pabender commented on #6903
If you want to start over, you also need to delete your profile, or use a new one.

When your in the preferences, click the item from the menu that says “Config Profiles”.  Once you do that, you will find a button that lets you create a new one.  Do that, give the profile a name, and restart and you will be able to configure from scratch.

[2019-05-10 05:52] pabender commented on #6921
Just after loading a version 5 ESU LokSound definition, I get the following as the top 10 memory consumers (second line is the retained size):

[code]
Total memory used at the point of the heap dump was 460,002,879 bytes.

During the read of the CV list @dheap provided, memory spiked multiple times over 600,000,000 bytes.
It crashed on me during a spike that jvisualvm shows consumed 650,000,000 by

[2019-05-10 06:05] dheap commented on #6921
@pabender Thanks for looking into that.

I'm currently doing some tests of everyday operations (identify, read, write) with V5 definitions and severely restricted Xms values. The results are surprising me. More when completed...

[2019-05-10 12:15] pabender commented on #6921
not sure what happened, but jvisualvm never  did give me the top 10 list for the second heap dump.  Will try again later.

[2019-05-10 19:12] dheap commented on #6921
Set "-Xmx512m" (is that reasonable for a typical Raspberry Pi with 1GB RAM?) and did tests (on my old Core II Duo iMac with NCE Power Pro connection) of the typical operations 99% of users do:

- Read type from decoder.
- Open and save new roster entry.
- Read Full Sheet on the CVs pane.
- Save and close.
- Open existing Roster Entry
- Write Full Sheet on the CVs pane.

No problems or speed differ

[2019-05-10 19:19] dheap commented on #6921
Note #6927 for speed improvement when reading/writing.

[2019-05-11 04:57] rekolok commented on #6903
Ok, that worked.
Still I cannot make the connection with the Ecos.
The IP is correct since it is no problem connecting my Mac to Ecos.
Any other idea?

[2019-05-11 14:28] icklesteve commented on #6877
Latest proposal, retaining creation by BasicRosterEntry -
![tlv3](https://user-images.githubusercontent.com/39652002/57571074-3ab15400-7401-11e9-9941-e025f22e94e6.png)

[2019-05-11 17:26] rekolok commented on #6903
This is the log from the last attempt:

2019-05-11 19:18:31,932 util.Log4JUtil                        INFO  - ****** JMRI log ******* [main]
2019-05-11 19:18:33,453 util.Log4JUtil                        INFO  - This log is appended to file: /Users/Macky/Library/Preferences/JMRI/log/messages.log [main]
2019-05-11 19:18:33,454 util.Log4JUtil                        INFO  - This log is stored in file:

[2019-05-11 20:59] pabender commented on #6877
Why the distinction about the basic roster entry?

The throttle is either requested by a LocoAddress or a BasicRostEntry.  The throttle just needs to retain what it needs to communicate with the layout hardware.

The front end may need more information, but the backend typically doesn’t.

[2019-05-12 00:19] icklesteve commented on #6877
Good point,
Have also updated to show the ThrottleListener in the question response
Also added a CANCEL enum to differentiate from a normal cancel request.

![tlv4](https://user-images.githubusercontent.com/39652002/57576273-93a9d800-7453-11e9-85be-62b773657deb.png)

[2019-05-12 09:19] Bluegoldfish1947 opened #6936 "Text on Sensor icon invisible on web page"
I am creating a route setting control panel and have a collection of buttons each with text on them.
This text appears on the 'normal' console screen
![normal_screen](https://user-images.githubusercontent.com/26022741/57580218-de9d0d00-749e-11e9-958a-8a58746a3ab0.png)
and on the panel preview displayed on the web site
![web_front_page](https://user-images.githubusercontent.com/26022741/57580235-fb

[2019-05-12 10:19] rhwood commented on #6936
Please zip your profile containing this panel and add it to this bug. That will allow us to use your setup while working on the fix.

[2019-05-12 10:54] Bluegoldfish1947 commented on #6936
Hi,

Thanks for the prompt reply. I assume by profile you mean the .xml file. Here it is...
[Slattocks3.zip](https://github.com/JMRI/JMRI/files/3169982/Slattocks3.zip)

[2019-05-12 11:07] rhwood commented on #6936
@Bluegoldfish1947 That will do, but I was hoping for a complete Config Profile (in PanelPro, go to Preferences->Config Profiles; select the profile to share, and click "Export" to create a zipped profile).

[2019-05-12 11:15] rhwood commented on #6936
@Bluegoldfish1947 I am getting errors loading your panel XML file related to missing resources. Please provide the complete profile.

[2019-05-12 13:28] rhwood commented on #5002
This is blocked by #6840 which would allow the schema to be published (or even not published but referenced to as if they are published) and cross-referenced.

[2019-05-12 13:33] rhwood commented on #5002
As of #6901, all schema except the consist schema are expected to be mostly correct, if somewhat vague when incorporating another schema. Once #6840 is incorporated that vagueness can be addressed.

[2019-05-12 14:16] Bluegoldfish1947 commented on #6936
I'm getting an error when I try to perform the export...
![export_error](https://user-images.githubusercontent.com/26022741/57583388-d73e2980-74c7-11e9-8b58-625394a4a94b.png)

After checking in the Slattocks folder I can confirm that the ProfileConfig.xml file is missing.

This is a ZIP of the Slattocks.jmri folder if it is of any help...
[Slattocks.jmri.zip](https://github.com/JMRI/JMRI/files/317

[2019-05-12 19:39] bobjacobsen commented on #6921
Here's what I'm seeing for memory usage from the decoder definition, and during the load:
![image](https://user-images.githubusercontent.com/2774117/57586992-c9ca7480-74b2-11e9-8ad5-01a03448e7d7.png)

Unfortunately, the memory is so tight at the end that the heap dump is getting inconsistent results.  More to follow on details...

[2019-05-12 20:18] dheap commented on #6921
That's much the same as I've been seeing.

[2019-05-12 21:15] bobjacobsen commented on #6921
Two big things so far:  `_writeButton` and `_readButtons` in `variableModel` in the `PaneServiceProgFrame` are (1) holding 9893 items and (2) some of those are retaining a lot of storage, so they each end up being responsible for about 15MB.  That 9893 items sounds about right from the discussion above, and 2*15MB actually isn't that big on the scale of the retained total. I'll keep looking.

[2019-05-12 21:21] bobjacobsen commented on #6921
The 2nd bit thing is 9755 JComboBoxes, which together retain 172MB.  That's  lot. These are also rooted in `variableModel` via `rowVector`.  Much of that storage comes from each one having it's own editor and renderer; perhaps we can save some space by using common ones.

[2019-05-13 00:26] dheap commented on #6921
I believe I've found the problem!

A few debugging statutes to see when it bottlenecked and I found it.

Expect a PR today...

[2019-05-13 01:33] dheap commented on #6921
Tests show it imports a LokSound 5 CV list in about 15 seconds on my old Core 2 Duo iMac, even when limited to "-Xmx512m".

[2019-05-13 02:49] pabender commented on #6921
@dheap, I am glad you found something that helped.  That is a tremendous improvement.

@bobjacobsen long term reducing that memory load is what it takes for this to scale.  When this was designed, I am sure nobody thought we would see the day when a single decoder had almost 10,000 configurable items in it.  Now, I must admit it wouldn’t surprise me if 10 years from now, there is some decoder that

[2019-05-13 06:16] dheap commented on #6921
#6940 on my Mac Pro with "-Xmx640m" imports:
- A LokSound 5 CV list in about 6 seconds , down from 140 seconds and needing "-Xmx1024m".
- A LokSound V4.0 CV list in 3 seconds as against 15 seconds with V4.15.5

[2019-05-13 06:18] dheap commented on #6921
Before:
![Screen Shot 2019-05-13 at 4 14 23 PM](https://user-images.githubusercontent.com/13841457/57599584-8ea37080-759a-11e9-8eb3-2f50385cff01.png)

After:
![Screen Shot 2019-05-13 at 3 49 21 PM](https://user-images.githubusercontent.com/13841457/57599595-9c58f600-759a-11e9-8d2a-fc1df1b77141.png)

[2019-05-13 06:52] dheap commented on #6921
Further test results at #6921.

[2019-05-13 09:37] rhwood commented on #6936
The overlay text is available to the web browser, but its Z index places it under, not over, the button. @mstevetodd Can you take a look at that?

[2019-05-13 09:39] rhwood opened #6944 "Profile Export no longer works"
As noted in #6936, the Profile Export does not work if `[profile_root]/ProfileConfig.xml` does not exist (which it doesn't in newer profiles).

I'll work on fixing this, but probably won't be able to get to it until the 4.17 timeframe.

[2019-05-13 11:29] rhwood commented on #6921
@dheap Good job finding that optimization.

But I do want to comment on this: I am certain there are Raspberry Pi users who would like to be able share a configuration profile between a Raspberry Pi and another computer and have things "just work" even if the profile contains multiple ESU decoder equipped locomotives (I'm not suggesting they want to open the programming GUI on the Raspberry PI, bu

[2019-05-13 12:04] dheap commented on #6921
@rhwood wrote:

My understanding has always been that WiThrottle simply used the information cached in `roster.xml`, which is opened at startup - it has Function Labels etc.

Just did a WiThrottle test, picked a LokSound 5 loco from my roster on the iPad app, Set and drove it. No signs of any loading delay and the screenshot below shows no signs of memory loading.

Yes, that'll have to be elsewher

[2019-05-13 12:11] dheap commented on #6921
@rhwood In case you were wondering about that rising usage, see below - obviously the GC kicks regularly:
![Screen Shot 2019-05-13 at 10 07 38 pm](https://user-images.githubusercontent.com/13841457/57620384-f6be7a80-75cb-11e9-9d14-4e37565cbe25.png)

[2019-05-13 19:07] #6816 closed

[2019-05-13 19:08] crosland commented on #6816
PR 6946 fixes this issue

[2019-05-13 21:59] dheap commented on #6921
Closed via #6940

[2019-05-13 21:59] #6921 closed

[2019-05-14 11:28] silverailscolo commented on #6926
Looking into this, but not seeing this happen in the PP tabbed tables with NCE Sim and Merg Sim. If a hardware number is in use, the Add pane just adds the next 10 silently. I might have the warnings turned off as a user setting.
Can @icklesteve describe the exact order of tabs/combos selected?

[2019-05-14 12:41] rhwood opened #6949 "Web Throttle does not work in Safari"
In branch JMRI/master, the web throttle does not work with Safari, failing to match up roster entry Ids. It appears Safari does not, in some way I can't figure out, like using the XML roster.

[2019-05-14 14:14] bobjacobsen commented on #6823
@JMRI/developers The plan is to build the 4.15.6 test release from master, including all then-mergeable not-WIP PRs, Tuesday evening California time.  This is about 12 hours from now.

[2019-05-14 14:22] bobjacobsen commented on #6878
Closed by merging #6941

[2019-05-14 14:22] #6878 closed

[2019-05-14 15:09] mstevetodd commented on #6936
I will look into the color and centering issues pointed out by @rhwood in #6945

@Bluegoldfish1947 can you zip up and attach the resources/icons/buttons and resources/icon/signals folders from your user files folder? That should get me past the loading errors so I can create your panel and see the issue.

[2019-05-14 16:35] Bluegoldfish1947 commented on #6936
@mstevetodd Here is the complete resources folder for you...
[resources.zip](https://github.com/JMRI/JMRI/files/3178851/resources.zip)
I hadsent the entire profile folder earlier, see a posting above.
Let me know if you need anything further.

[2019-05-14 18:07] RBeaber commented on #6636
The latest version (4.15.5), I can confirm this is still an issue.  Everything except decoder programming on a programming track works fine.  But trying to program on the programming track always results with this error:

2019-05-14 10:55:13,739 mentation.VerifyWriteProgrammerFacade INFO  - programmer already in use by CvValue _num=1 _cvName= [AWT-EventQueue-0]
2019-05-14 10:55:13,739 symbolicprog

[2019-05-14 19:28] silverailscolo commented on #6926
Confirmed that when adding a Merg range of sensors (leaving the All tab of the table frame untouched, selecting MERG from the Add sequence dialog) stops after adding 1 item (named ``MS+1``) with this dialog:
![AddMergWarning](https://user-images.githubusercontent.com/14811327/57726081-f20eca80-768e-11e9-8eb8-71b28907342b.png)
System name mentioned in dialog is referring to ``M1`` instead.

[2019-05-14 19:34] dheap commented on #6636
@RBeaber Try turning off the Verify Writes option in Preferences->Roster->Programmer.

[2019-05-15 01:10] mstevetodd commented on #6936
@Bluegoldfish1947 Thanks. Sorry I missed the earlier file. I've made some changes to better handle the font, color, font size, and centering. (Note that the centering only works if you specify a fixed width.)
I'll submit my changes shortly. I expect I've missed getting them into v4.16, but they should be in the following test version.

[2019-05-15 12:12] rhwood opened #6953 "Z21 Tests do not cleanup after failure"
Copied from comment in #6901:

Travis GUI tests for f182ebd timed out. There was a failure in the test:

[code]

The tail of the logs shows that after failing that test did not clean up after itself:

[code]

[2019-05-15 12:55] bobjacobsen commented on #6823
The release-4.15.6 branch has been created.

Maintainers, please set the 4.15.7 milestone on pulls from now on, as that will be the next test release from the HEAD of the master branch.

Jenkins will be creating files shortly at the [CI server](http://builds.jmri.org/jenkins/job/TestReleases/job/4.15.6/)

[2019-05-15 13:43] bobjacobsen commented on #6823
![image](https://user-images.githubusercontent.com/2774117/57780216-a97dfe00-76dc-11e9-91a4-a4c1e1700107.png)

[2019-05-16 09:57] nigelcliffe opened #6957 "decoder file for NGS Hunslet"
[CT_NGS_Hunslet.zip](https://github.com/JMRI/JMRI/files/3186494/CT_NGS_Hunslet.zip)

attachment has new decoder file for the N Gauge Society's "Hunslet" locomotive.  The loco is DCC-Fitted with a custom decoder by CT-Elektronik, and has CT's number in CV8.   File written in cooperation with the design team for the loco, and using a pre-production sample loco+decoder to test against.

Please includ

[2019-05-16 13:20] bobjacobsen opened #6959 "Create Test Release 4.15.7"
This is the next release in the 4.16 cycle. It's intended to be created around June 1 as the last test release from HEAD of the `master` branch in this cycle.

[2019-05-16 13:32] bobjacobsen commented on #6823
JMRI 4.15.6 has been released. Files are available in the GitHub release section.

[2019-05-16 13:33] #6823 closed

[2019-05-17 05:04] pabender commented on #6912
Looking through the Editor code, there are methods `addToTarget()` and `removeFromTarget()` that both call remove on the target panel. (addToTarget does a remove then an add).

If you trace where these are called, both methods can be called via public methods.

Since the tests in question appear to be using LocoIcons, there are at least three methods we need to look at further: `addTrainIcon()`,`a

[2019-05-17 11:23] silverailscolo commented on #6795
Fixed with PR #6802

[2019-05-17 11:23] #6795 closed

[2019-05-17 11:25] silverailscolo commented on #6926
Working on a fix, only CbusLightManagerTest remaning to do.

[2019-05-17 11:38] icklesteve commented on #6926
Thanks for looking into this @silverailscolo much appreciated :-)
Validation on the non-leading + format has been awkward since it was added.

When I was getting the mis-match there seemed to be some sort of trigger which made it was repeatable for a while, then it de-triggered itself and returned to normal.

Will re-attempt to re-create the mis-match and log every click!
Steve

[2019-05-17 14:04] bobjacobsen commented on #6636
Another trace from a posting:
[code]

[2019-05-17 14:07] bobjacobsen commented on #6636
I can recreate this last one, so will work on it this weekend.

[2019-05-17 21:06] RBeaber commented on #6636
@dheap Unfortunately, turning off the Write Verify did not have any effect.

Thank you!

-Rick

[2019-05-20 16:38] Bluegoldfish1947 commented on #6936
Thanks for all your help and hard work om this. I look forward to a future version containing the fixes. I'll report back here the effect of any updates.

[2019-05-22 05:29] #6957 closed

[2019-05-22 07:58] tgretton opened #6978 "mqtt doesn't work on 4.15.6 on raspberry pi"
My test setup is 4.15.6 on a raspberry pi with the mosquitto broker on the same pi.

On 4.15.6, I am unable to change a turnout state. Status remains 'unknown' and no messages are received by the broker.

Reverted to 4.14 and 4.15.3 with the same configuration. Turnouts perform as expected with state messages sent to and received from broker.

I have not tested 4.15.4 and 4.15.5.

Session log for

[2019-05-22 11:26] icklesteve commented on #6924
Another scenario,
Create a Light Control with 1 Sensor, confirm and check works in sensor + table
Edit the control to 2 sensor, update > update.  GUI updates, but light remains on 1 sensor control.

Another scenario
Edit a light control from 2 sensor to 1 sensor, click update on edit light control,
then cancel in the Edit Light window.
The update doesn't cancel, so if panel is saved / reloaded, th

[2019-05-22 17:46] silverailscolo commented on #6926
@icklesteve can you check if this issue is fixed in current head?

[2019-05-23 10:23] icklesteve commented on #6926
Thanks, will do,
Steve

[2019-05-23 17:20] icklesteve commented on #5316
To get multiple Light Controls working a bit better with each other,
the actual  if / or needs to be established at AbstractLight level, not LightControl level.

At present, each LightControl acts independently, controlling the light directly using light.setState(Light.ON); so clashes aren't resolved.

I've no intention of adding full if / or logic statements to this, Logix would be more appropria

[2019-05-23 18:04] icklesteve commented on #5316
I've re-thought this, too much potential to mess up existing logic.

If I confine logic change purely to multiple fast-clock LightControls acting as 1 control,
that'll sort the flickering out.

[2019-05-23 18:44] KenC57 commented on #5316
I've used Logix for any case of multiple time references. I always felt the
options built into the light control was only done because Logix had not
been created at that time. Due to all the additional features of Logix, I
felt that the light controls were left only for legacy users.

The only feature I've used on a regular basis is the min/max and ramp rates
for variable lights. Everything else i

[2019-05-24 03:41] jimexler opened #6985 "Digitrax CV11 (Sound Time Out) decoder file reversed"
Recently I found what appeared to be a contradiction in a JMRI Digitrax file for the sound decoder. The CV11 (sound time out) was reversed in Decoder Pro.

I searched online and found a discussion on the JMRI site but with no conclusion so I went to work.

Attached is my revision of the file in question for review. The changes are around line 270 in the area for CV11. I changed the selections from

[2019-05-24 08:54] icklesteve commented on #6926
Hi @silverailscolo, am not able to reproduce in current head :-)

Many thanks for looking into this,
Steve.

[2019-05-24 08:54] #6926 closed

[2019-05-24 09:01] icklesteve commented on #6924
fixed by #6980

[2019-05-24 09:01] #6924 closed

[2019-05-24 12:47] KenC57 commented on #5584
The OpenLCB tool tip for create are not showing valid form of event ids. It is showing "enter 1 to 9999" as a form and that's not right. Instead it should show a pair of events like: 02.01.57.00.00.54.00.72;02.01.57.00.00.54.00.73

[2019-05-24 13:16] icklesteve commented on #5584
I was looking for a mini change to make to test something, good timing @KenC57 !
See #6987 wording ok?

[2019-05-24 13:46] #6797 closed

[2019-05-24 20:22] silverailscolo commented on #5584
If the default is not fit, for OpenLCB the default xManager tooltips should be overridden with specific format strings (in the OpenLCB Bundle). Please look at can.cbus or Acela.

[2019-05-25 12:30] icklesteve opened #6992 "Editing Two Logix at same time Error Dialogue"
Clean startup, No tables loaded, no other PanelPro windows loaded.
Tables > Logix > Add
System Name: leave auto checked
UserName : Needs to be valid
Click on Create

Edit Logix Window opens, click Delete

![image](https://user-images.githubusercontent.com/39652002/58368960-1dde4b80-7eec-11e9-84ae-b639453ea213.png)

But we've only been working with 1 Logix and did not attempt to edit it.
The Logix

[2019-05-25 14:11] icklesteve commented on #6164
Hardware support page for DMX512 ( via Anyma USB Interface ) needs creating

[2019-05-25 16:22] icklesteve commented on #5316
Hi @KenC57 I've previously worked on some v large DMX512 installs mixing subliminal fades with effect lighting, it can take a while to get right but well worth the effort imho.
I'm mulling through a separate tweak to make that much easier in LightControls.

To get the multiple LightControls using FastClock flicker sorted, I'm now fairly sure the light should go OFF at 16:54 in the example above as

[2019-05-25 16:35] geowar1 commented on #5316
The toggles at 01:31 and 02:26 are somewhat counter intuitive. Why does it do that?

Did you have to do anything special to get your Windows machine to access the USB to DMX512 dongle? I’ve had several users report problems that eventually fixed them by changing the USB port protection. Not being a Windows user I don’t know what that means or how to document it to help others that might have this

[2019-05-25 19:29] icklesteve commented on #5316
Long term might be good to re-name this LightControl from "By FastClock" to "By FastClock Follower" ?
When the FastClock minute change event is sent, if the LightContol thinks the Light is in the wrong state, it changes it to whatever state it thinks should be .

I can imagine this being useful for the night-time random bathroom light scenarios, or even star shimmers, you'd only need 1 Sensor / Tu

[2019-05-25 21:53] #6886 closed

[2019-05-26 04:22] dsand47 commented on #6992
I have confirmed the issue and will have a fix soon.

[2019-05-26 10:52] icklesteve commented on #6877
Closed as implemented on #6932

[2019-05-26 10:52] #6877 closed

[2019-05-26 11:03] icklesteve commented on #4884
Hi @devel-bobm ,

This can be closed as in #6932 there's the forceDisposeThrottle(LocoAddress la) method in AbstractThrottleManager for situations where a normal Throttle release is not possible,

Steve.

[2019-05-26 16:39] bobjacobsen commented on #6636
I think PR #6995 fixed this.  There are installers at http://jmri.tagadab.com/jenkins/job/Development/job/Packages/ now.  @RBeaber could you try this is if you get a chance? Thanks

[2019-05-26 22:02] devel-bobm commented on #4884
I will need to examine #6932 before closing this, to ensure that it covers the specific boundary-conditions which are problematic to me.

[2019-05-26 22:56] devel-bobm opened #7010 "LocoNet does not create Turnout bean on rx of OPC_SW_ACK"
JMRI creates new `Turnout` bean when LocoNet OPC_SW_REQ is received, but not when OPC_SW_ACK is received.  State of existing `Turnout` bean, however, _is_ updated when OPC_SW_ACK is received.

With recent LocoNet "Bushby"-related work in #6976, it may make sense for `loconet.LnTurnoutManager` to create a new bean when OPC_SW_ACK is seen for an address which does not already exist as a bean.

[2019-05-28 13:14] silverailscolo opened #7015 "CI unstable"
Since build 75 Jenkings CI AllTest shows regulare failures. Stack trace points to ``apps.DecoderPro.DecoderProTest``. When run that locally I get some migration dialogs that could be the cause of timeouts:
![PPTestdialog1](https://user-images.githubusercontent.com/14811327/58479755-225b6c00-8159-11e9-8f5f-028534a928fe.png)

![PPTestdialog3](https://user-images.githubusercontent.com/14811327/584806

[2019-05-28 14:21] samusi01 opened #7016 "JMRI Web Server Error 500: internal car handing error"
Per the request of Randall Wood I am creating this issue. I am running 4.15.6 on one laptop and viewing various functions on a tablet attached to the layout. This evening, I attempted to load up the cars table to inventory and received the following message:

Error 500:Internal car handling error. See JMRI logs for information.

I receive the same message with the locations and engines tables (I d

[2019-05-28 14:58] bobjacobsen opened #7017 "Time to disable LinkedWarrantTest?"
I've restarted 17 cases of Travis failures in `LinkedWarrantTest` tests over the past weekend.  Is it time to disable this test file?

I've included a summary of the symptoms below to centralize them.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2019-05-28 15:45] pabender commented on #7017
Perhaps.  We really haven’t gotten past the issue spotted in #6912....

But I just had an idea.  I think the issue is the interaction between the warrant and the panel.  So what if the panel isn’t visible during the test run.  That would prevent the issues with repainting the panel, because the panel will not need repainting.

[2019-05-28 16:19] pabender commented on #7017
#7018 hides the panels early in the tests.  Hopefully that helps.

[2019-05-28 19:49] pabender commented on #6912
#7018 ( now merged ) hopefully hides this problem during tests.  This does not resolve the race condition leading to the error.

[2019-05-28 20:49] silverailscolo commented on #6794
Excuse me for changing/reverting, now I guess this name is confusing for a purpose?

[2019-05-28 21:19] pabender commented on #6794
I had forgotten about this issue.

I recently was sent a Lenz LZV200 which supports XpressNet version 3.8.  Lenz tells me it does support accessory decoders up to 2048.  Lenz has yet to release the updated a XpressNet documentation

[2019-05-28 21:20] pabender commented on #6794
It was correct as you changed it.  Unfortunately there are many people who add an E to the front, even though that is not proper.  I have learned to ignore it.

[2019-05-28 21:22] ohojvat commented on #6794
I don't understand your comment.  I see the title remains the same.

There are two purposes in this issue:
- Ask JMRI to allow the full accesory range 1 to 2044 ( original Epressnet only 1 to 1024 )
- If other manufacturer likes it , they can use this idea.

I am waiting a new reply from Paul Bender.

[2019-05-28 21:38] ohojvat commented on #6794
Sorry for the mistake - I will take care of it in the future. I know that there are not an E before the X

Please let me know the new XpresNet command, (perhaps it may be the same as I was stated ?)

I can change my software is it may be easy for JMRI

[2019-05-28 21:45] pabender commented on #6794
Your original title had ExpressNet instead of XpressNet.  @silverailscolo changed it to the proper XpressNet then changed it back.

Lenz’s new version of the protocol includes support for accessory decoders from 1 to 2048.  Unfortunately Lenz has not released the updated version ( 3.8 ) of the protocol.  Once that happens, we will add support for the official commands.

[2019-05-28 21:48] ohojvat commented on #6794
Sorry again      (XpressNet - XpressNet - XpressNet)

[2019-05-28 22:01] ohojvat commented on #6794
Please let me know if you get and use in JMRI the new protocol information , so I may adjust my code for better compatibility.
Best Regards

[2019-05-29 01:10] rhwood commented on #7016
@samusi01 I am able to recreate the error in 4.15.6, but am not able to create it in the "nightly" builds. Can you test that the JMRI installed from http://jmri.tagadab.com/jenkins/job/Development/job/Packages/lastSuccessfulBuild/artifact/dist/release/ works for you?

[2019-05-29 07:22] nigelcliffe opened #7022 "update to NGS Hunslet Decoder File"
[CT_NGS_Hunslet.zip](https://github.com/JMRI/JMRI/files/3231188/CT_NGS_Hunslet.zip)

I've been told of an additional CV by the designers of the NGS Hunslet loco.   So, new version of decoder file is attached.   It replaces the previous version of the file.

(Sorry about an update within weeks of the first file).

Nigel

[2019-05-29 14:22] icklesteve commented on #6992
Many thanks @dsand47 , confirmed resolved

[2019-05-29 14:22] #6992 closed

[2019-05-29 16:00] samusi01 commented on #7016
@rhwood Partly successful. Using the build JMRI.4.15.7ish+jenkins+20190528T2037Z+R2a0fb41, the tables that I do use (again, that's limited at the moment to cars, engines, and locations) function normally. On the operations page, the conductor view works and functions normally but the manifest page doesn't. It sits on "getting trains..." The roster page, which I don't normally use, seems to work ve

[2019-05-30 04:23] rekolok commented on #6903
Nobody has a solution?

[2019-05-30 10:38] rhwood commented on #7016
Unfortunately, this seems to be something that needs to be documented. The HTML manifests for JMRI older than 4.15.6 cannot be used with current JMRI and vice versa. I'll make sure the release notes explicitly note this and the following workaround:

If you do not want to terminate and rebuild each train, you will need to delete existing manifests and then individually preview each train to genera

[2019-05-30 19:05] crosland opened #7031 "SPROG turnout control packets not echoed in console"
Packets generated by the turnout control are not echoed in the console.

A fix has been identified and will be submitted

[2019-05-30 21:32] icklesteve opened #7034 "Rename Light Control"
I'm doing some updates to JMRI Light Controls ( automated Sensor / FastClock followers ), and have spotted that there are 2 JMRI _things_ called "Light Control".

There's the Light automation control beantable stuff, eg.
![image](https://user-images.githubusercontent.com/39652002/58666109-6356aa80-832a-11e9-81cd-c2b048aaea20.png)

![image](https://user-images.githubusercontent.com/39652002/5866601

[2019-05-30 21:42] silverailscolo commented on #7034
We might rename the Light Control Tool to "Simple Light/Turnout Control", "Manual Light/Turnout Control", "Operate Light/Turnout" or include the "Tool" part in the name and menus so you would get "Light/Turnout Control Tool". I would agree to change the Tool items, and go for "Simple..."

[2019-05-31 01:01] bobjacobsen commented on #7034
The original Turnout Control Tool was called “tool” because it opened a little window with closed/thrown buttons. Before there were panels or tables, you could have a bunch of those on your screen to run your layout.

Now, people generally use panels for that. The Turnout Control Tool is more of a one-off for ad-hoc use, testing, etc.

I think it would be fine to rename both light and turnout cont

[2019-05-31 01:06] bobjacobsen commented on #7034
But formally, the things in those screen shots are not _controls_ (the button or knob you manipulate to change state) but rather _controllers_ (who act themselves to change state).

[2019-05-31 05:58] RBeaber commented on #6636
Bob:
     Thank you very much!!  I was able to identify, read and write CV's with no issues.  It looks fixed to me!  Sorry it took so long to test it, I had some trouble getting the Jenkins server to talk nicely.  Seems OK now.
     Thanks again!

-Rick